force-app/main/default/flows/Contact_Management.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <decisions>
        <name>Validate_Conditions</name>
        <label>Validate Conditions</label>
        <locationX>314</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Custom_Settings</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsCustomSettingOn</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dummy_Action</targetReference>
            </connector>
            <label>Check Custom Settings</label>
        </rules>
        <rules>
            <name>Marketing_Site_Date_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LVGO__Marketing_Site_Active_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Marketing_Date_Status</targetReference>
            </connector>
            <label>Marketing Site - Date Status</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsCustomSettingOn</name>
        <dataType>Boolean</dataType>
        <expression>NOT({!$Setup.LVGO__LVGO_Automation_Switch__c.LVGO__Flows__c})</expression>
    </formulas>
    <interviewLabel>Contact Management {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Management</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Dummy_Action</name>
        <label>Dummy Action</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedById</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Test</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Marketing_Date_Status</name>
        <label>Update Marketing Date Status</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Marketing_Site_Date_Status__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Validate_Conditions</targetReference>
        </connector>
        <object>Contact__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
