force-app/main/default/flows/Enrollment_Survey_Input_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assignment</name>
        <label>Assignment</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>SelectedLivongoPrograms</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Livongo_Programs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Selected_Livongo_Programs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Livongo_Programs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_record.LVGO__Contact_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_your_name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_record.LVGO__Contact_Email_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customer_Email.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Survey_Screen_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Field_Assignment</name>
        <label>Field Assignment</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Survey_record.LVGO__Survey_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_record.LVGO__Livongo_Programs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Livongo_Programs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_record.LVGO__Marketing_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Marketing_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_record.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_record.LVGO__Diabetes_Eligibility_Sentence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Diabetes_Eligibility_Sentence</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_record.LVGO__Hypertension_Eligibility_Sentence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Hypertension_Eligibility_Sentence</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_record.LVGO__Prediabetes_Eligibility_Sentence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Prediabetes_Eligibility_Sentence</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_record.LVGO__Weight_Management_Eligibility_Sentence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Weight_Management_Eligibility_Sentence</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_record.LVGO__Behavioral_Health_Eligibility_Sentence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Behavioral_Health_Eligibility_Sentence</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_record.LVGO__General_Eligibility_Sentence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>General_Eligibility_Sentence</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_record.LVGO__Disclaimer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Disclaimer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_record.LVGO__Employee_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Employee_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_record.LVGO__Client_able_to_send_HR_comms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Client_able_to_send_HR_comms</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_record.LVGO__OE_Month_Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OE_month_start</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_record.LVGO__OE_Month_End__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OE_month_end</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Survey_record.LVGO__OE_Period_Length__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OE_period_length</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Enrollment_Record</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Livongo_Diabetes</name>
        <choiceText>Diabetes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Diabetes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Livongo_Hypertension</name>
        <choiceText>Hypertension</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hypertension</stringValue>
        </value>
    </choices>
    <choices>
        <name>Livongo_myStrength</name>
        <choiceText>myStrength</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Behavioral Health</stringValue>
        </value>
    </choices>
    <choices>
        <name>Livongo_Prediabetes</name>
        <choiceText>Prediabetes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Prediabetes</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>OE_month_April</name>
        <choiceText>April</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>April</stringValue>
        </value>
    </choices>
    <choices>
        <name>OE_month_August</name>
        <choiceText>August</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>August</stringValue>
        </value>
    </choices>
    <choices>
        <name>OE_month_December</name>
        <choiceText>December</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>December</stringValue>
        </value>
    </choices>
    <choices>
        <name>OE_month_February</name>
        <choiceText>February</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>February</stringValue>
        </value>
    </choices>
    <choices>
        <name>OE_month_January</name>
        <choiceText>January</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>January</stringValue>
        </value>
    </choices>
    <choices>
        <name>OE_month_July</name>
        <choiceText>July</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>July</stringValue>
        </value>
    </choices>
    <choices>
        <name>OE_month_June</name>
        <choiceText>June</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>June</stringValue>
        </value>
    </choices>
    <choices>
        <name>OE_month_March</name>
        <choiceText>March</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>March</stringValue>
        </value>
    </choices>
    <choices>
        <name>OE_month_May</name>
        <choiceText>May</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>May</stringValue>
        </value>
    </choices>
    <choices>
        <name>OE_month_November</name>
        <choiceText>November</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>November</stringValue>
        </value>
    </choices>
    <choices>
        <name>OE_month_October</name>
        <choiceText>October</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>October</stringValue>
        </value>
    </choices>
    <choices>
        <name>OE_month_September</name>
        <choiceText>September</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>September</stringValue>
        </value>
    </choices>
    <choices>
        <name>OE_period_1</name>
        <choiceText>1 week</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1 week</stringValue>
        </value>
    </choices>
    <choices>
        <name>OE_period_2</name>
        <choiceText>2 weeks</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2 weeks</stringValue>
        </value>
    </choices>
    <choices>
        <name>OE_period_3</name>
        <choiceText>3 weeks</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3 weeks</stringValue>
        </value>
    </choices>
    <choices>
        <name>OE_period_4</name>
        <choiceText>4 weeks</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4 weeks</stringValue>
        </value>
    </choices>
    <choices>
        <name>OE_period_other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Weight_Management</name>
        <choiceText>Weight Management</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Weight Management</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_for_the_Record</name>
        <label>Check for the Record</label>
        <locationX>248</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Survey_status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_not_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Survey_record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recordnotfound</targetReference>
            </connector>
            <label>Record not found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Survey_status</name>
        <label>Survey status</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Input_Screen_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Survey_is_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Survey_record.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>recordId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Survey_record.LVGO__Survey_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SurveyisComplete</targetReference>
            </connector>
            <label>Survey is Complete</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Enrollment Survey Input Form {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Enrollment Survey Input Form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Enrollment_Survey_record</name>
        <label>Get Enrollment Survey record</label>
        <locationX>248</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_the_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>LVGO__Enrollment_Communications_Survey__c</object>
        <outputReference>Survey_record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LVGO__Account__c</queriedFields>
        <queriedFields>LVGO__Survey_Status__c</queriedFields>
        <queriedFields>LVGO__Enrollment_Communications_Survey_Type__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Enrollment_Record</name>
        <label>Update Enrollment Record</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>Survey_record</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>842</locationX>
        <locationY>1118</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(18, 18, 18);&quot;&gt;Oops! An Error has occurred. &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(18, 18, 18);&quot;&gt;Please reach out to your contact at Livongo&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_0</name>
        <label>Error Screen</label>
        <locationX>1106</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(18, 18, 18);&quot;&gt;Oops! An Error has occurred. &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(18, 18, 18);&quot;&gt;Please reach out to your contact at Livongo&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final_Screen</name>
        <label>Final Screen</label>
        <locationX>578</locationX>
        <locationY>1118</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Confirmation</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Thank You for completing the form! If you have questions, please reach out to Client Implementation Manager at Livongo&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Input_Screen_1</name>
        <label>Input Screen 1</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assignment</targetReference>
        </connector>
        <fields>
            <name>Welcome</name>
            <fieldText>&lt;p&gt;Welcome! We&apos;re excited to launch Livongo with you. With our experience in having launched hundreds of clients, we&apos;re confident we&apos;ll have a successful launch together!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Our objective is to optimize enrollment for your organization and we&apos;ll iterate and optimized campaigns to achieve results. In the next few steps, we&apos;ll gather key campaign details we&apos;ll need for the targeted campaigns.&amp;nbsp;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>First_your_name</name>
            <dataType>String</dataType>
            <fieldText>First, your name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Customer_Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>And your email address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>customerEmail</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Livongo_Programs</name>
            <choiceReferences>Livongo_Diabetes</choiceReferences>
            <choiceReferences>Livongo_Hypertension</choiceReferences>
            <choiceReferences>Livongo_Prediabetes</choiceReferences>
            <choiceReferences>Weight_Management</choiceReferences>
            <choiceReferences>Livongo_myStrength</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which Livongo programs will you be launching? Select all that apply</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Recordnotfound</name>
        <label>Record not found</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Record_is_Not_Found</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(18, 18, 18);&quot;&gt;Oops! An Error has occurred. &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(18, 18, 18);&quot;&gt;Please reach out to your contact at Livongo&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Survey_Screen_2</name>
        <label>Survey Screen 2</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Field_Assignment</targetReference>
        </connector>
        <fields>
            <name>Q1</name>
            <fieldText>&lt;p&gt;In these next questions, we&apos;ll ask you to confirm some variable information highlighted in a sample communicaiton below.&amp;nbsp;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Survey_record.LVGO__Enrollment_Communications_Survey_Type__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Standard – Partnership</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>VariableLanguage</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Variable_Language</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Survey_record.LVGO__Enrollment_Communications_Survey_Type__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Standard – Partnership</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Marketing_Name</name>
            <dataType>String</dataType>
            <fieldText>Please enter your organization&apos;s name exactly as you want to have it appear in marketing materials</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Diabetes_Eligibility_Q1</name>
            <fieldText>&lt;p&gt;How would you like your Diabetes Eligibility Sentence to appear on marketing communications?&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;An example of this is: &quot;The program is available at no cost to you and your family members with diabetes and coverage through the ABC Company health plan.&quot;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Survey_record.LVGO__Enrollment_Communications_Survey_Type__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Standard – Partnership</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Selected_Livongo_Programs</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>Livongo_Diabetes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Diabetes_Eligibility_Sentence</name>
            <dataType>String</dataType>
            <fieldText>Diabetes Eligibility Sentence</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Survey_record.LVGO__Enrollment_Communications_Survey_Type__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Standard – Partnership</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Selected_Livongo_Programs</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>Livongo_Diabetes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Hypertension_Q1</name>
            <fieldText>&lt;p&gt;How would you like your Hypertension Eligibility Sentence to appear on marketing communications?&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;An example of this is: &quot;The program is available at no cost to you and your family members with high blood pressure and coverage through the ABC Company health plan.&quot;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Survey_record.LVGO__Enrollment_Communications_Survey_Type__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Standard – Partnership</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Selected_Livongo_Programs</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>Livongo_Hypertension</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Hypertension_Eligibility_Sentence</name>
            <dataType>String</dataType>
            <fieldText>Hypertension Eligibility Sentence</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Survey_record.LVGO__Enrollment_Communications_Survey_Type__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Standard – Partnership</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>SelectedLivongoPrograms</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>Livongo_Hypertension</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Prediabetes_Q1</name>
            <fieldText>&lt;p&gt;How would you like your Prediabetes Eligibility Sentence to appear on marketing communications?&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;An example of this is: &quot;The program is available at no cost to you and your family members with coverage through the ABC Company health plan.&quot;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Survey_record.LVGO__Enrollment_Communications_Survey_Type__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Standard – Partnership</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Selected_Livongo_Programs</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>Livongo_Prediabetes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Prediabetes_Eligibility_Sentence</name>
            <dataType>String</dataType>
            <fieldText>Prediabetes Eligibility Sentence</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Survey_record.LVGO__Enrollment_Communications_Survey_Type__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Standard – Partnership</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Selected_Livongo_Programs</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>Livongo_Prediabetes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Weight_Management_Q1</name>
            <fieldText>&lt;p&gt;How would you like your Weight Management Eligibility Sentence to appear on marketing communications?&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;An example of this is: &quot;The program is available at no cost to you and your family members with coverage through the ABC Company health plan.&quot;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Survey_record.LVGO__Enrollment_Communications_Survey_Type__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Standard – Partnership</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Selected_Livongo_Programs</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>Weight_Management</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Weight_Management_Eligibility_Sentence</name>
            <dataType>String</dataType>
            <fieldText>Weight Management Eligibility Sentence</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Survey_record.LVGO__Enrollment_Communications_Survey_Type__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Standard – Partnership</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Selected_Livongo_Programs</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>Weight_Management</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Behavioral_Health_Q1</name>
            <fieldText>&lt;p&gt;How would you like your Behavioral Health Eligibility Sentence to appear on marketing communications?&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;An example of this is: &quot;The program is available at no cost to you and your family members with coverage through the ABC Company health plan.&quot;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Survey_record.LVGO__Enrollment_Communications_Survey_Type__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Standard – Partnership</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Selected_Livongo_Programs</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>Livongo_myStrength</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Behavioral_Health_Eligibility_Sentence</name>
            <dataType>String</dataType>
            <fieldText>Behavioral Health Eligibility Sentence</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Survey_record.LVGO__Enrollment_Communications_Survey_Type__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Standard – Partnership</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Selected_Livongo_Programs</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>Livongo_myStrength</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>General_Q1</name>
            <fieldText>&lt;p&gt;Because you&apos;re launching mulitple programs, sometimes we need a &apos;general&apos; sentence that isn&apos;t specific to the condition. How would you like your General Eligibility Sentence to appear on marketing communications?&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;An example of this is: &quot;The program is available at no cost to you and your family members with coverage through the ABC Company health plan.&quot;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Survey_record.LVGO__Enrollment_Communications_Survey_Type__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Standard – Partnership</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Selected_Livongo_Programs</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>;</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>General_Eligibility_Sentence</name>
            <dataType>String</dataType>
            <fieldText>General Eligibility Sentence</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Survey_record.LVGO__Enrollment_Communications_Survey_Type__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Standard – Partnership</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Selected_Livongo_Programs</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>;</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Disclaimer</name>
            <dataType>String</dataType>
            <fieldText>Does your organization require a disclaimer? If so, what should that disclaimer be? If no, please leave blank.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Survey_record.LVGO__Enrollment_Communications_Survey_Type__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Standard – Partnership</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Logo</name>
            <extensionName>LVGO:customFileUploadForSurveys</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Please upload your logo if you&apos;re like to cobrand with us. Clients who place their logo on our communications see 85% stronger enrollment rates.  We prefer high resolution .png or .jpeg with a transparent background. </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>myRecordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>uploadedFiles</name>
                <value>
                    <elementReference>uploadedFileName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>acceptedFormats</name>
                <value>
                    <stringValue>.png, .jpg, .jpeg</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Employee_Title</name>
            <dataType>String</dataType>
            <fieldText>Tell us how you typically refer to your population. For example: employees, associates, teammates, members, customers, patients.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Client_able_to_send_HR_comms</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Your partnership is important to announce the launch so that your population recognizes us as a trusted partner. We’ve found enrollment trends higher when clients send out announcement communications.  Will you send annoucement communications about our programs to your population?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OE_month_start</name>
            <choiceReferences>OE_month_January</choiceReferences>
            <choiceReferences>OE_month_February</choiceReferences>
            <choiceReferences>OE_month_March</choiceReferences>
            <choiceReferences>OE_month_April</choiceReferences>
            <choiceReferences>OE_month_May</choiceReferences>
            <choiceReferences>OE_month_June</choiceReferences>
            <choiceReferences>OE_month_July</choiceReferences>
            <choiceReferences>OE_month_August</choiceReferences>
            <choiceReferences>OE_month_September</choiceReferences>
            <choiceReferences>OE_month_October</choiceReferences>
            <choiceReferences>OE_month_November</choiceReferences>
            <choiceReferences>OE_month_December</choiceReferences>
            <dataType>String</dataType>
            <fieldText>In what month does your Open Enrollment period start?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Survey_record.LVGO__Enrollment_Communications_Survey_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Standard</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Survey_record.LVGO__Enrollment_Communications_Survey_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Standard – Partnership</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>OE_month_end</name>
            <choiceReferences>OE_month_January</choiceReferences>
            <choiceReferences>OE_month_February</choiceReferences>
            <choiceReferences>OE_month_March</choiceReferences>
            <choiceReferences>OE_month_April</choiceReferences>
            <choiceReferences>OE_month_May</choiceReferences>
            <choiceReferences>OE_month_June</choiceReferences>
            <choiceReferences>OE_month_July</choiceReferences>
            <choiceReferences>OE_month_August</choiceReferences>
            <choiceReferences>OE_month_September</choiceReferences>
            <choiceReferences>OE_month_October</choiceReferences>
            <choiceReferences>OE_month_November</choiceReferences>
            <choiceReferences>OE_month_December</choiceReferences>
            <dataType>String</dataType>
            <fieldText>In what month does your Open Enrollment period end?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Survey_record.LVGO__Enrollment_Communications_Survey_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Standard</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Survey_record.LVGO__Enrollment_Communications_Survey_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Standard – Partnership</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>OE_period_length</name>
            <choiceReferences>OE_period_1</choiceReferences>
            <choiceReferences>OE_period_2</choiceReferences>
            <choiceReferences>OE_period_3</choiceReferences>
            <choiceReferences>OE_period_4</choiceReferences>
            <choiceReferences>OE_period_other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How long is your Open Enrollment period?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Survey_record.LVGO__Enrollment_Communications_Survey_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Standard</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Survey_record.LVGO__Enrollment_Communications_Survey_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Standard – Partnership</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Confirmation_Message</name>
            <fieldText>&lt;p&gt;We&apos;re all set! Once you submit your information, we&apos;ll share a sample communication with your variable language to finalize.&amp;nbsp;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>(1 AND 3) OR (1 AND 4) OR (2 AND 5) OR (2 AND 6)</conditionLogic>
                <conditions>
                    <leftValueReference>OE_period_length</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Client_able_to_send_HR_comms</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Survey_record.LVGO__Enrollment_Communications_Survey_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Standard</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Survey_record.LVGO__Enrollment_Communications_Survey_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Standard – Partnership</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Survey_record.LVGO__Enrollment_Communications_Survey_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>New Partnership Setup Survey</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Survey_record.LVGO__Enrollment_Communications_Survey_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Medicare/Medicaid</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SurveyisComplete</name>
        <label>Survey Complete</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Survey_Complete</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;This form has been completed. If you want to make changes to this, please reach out to the Client Implementation Manager at Livongo.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Thanks!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Enrollment_Survey_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>customerEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Livongo_Programs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedLivongoPrograms</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Survey_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LVGO__Enrollment_Communications_Survey__c</objectType>
    </variables>
    <variables>
        <name>uploadedFileName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
