force-app/main/default/flows/Opportunity_Update_SubChannel_based_on_Role.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_if_the_Opp_Owner_has_a_Role_Assigned</name>
        <label>Check if the Opp Owner has a Role Assigned</label>
        <locationX>380</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Update_Sub_Channel_to_Undefined_when_no_role_assigned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Opp Owner has no role assigned</defaultConnectorLabel>
        <rules>
            <name>Role_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.Owner__r.UserRoleId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_RolesAndSubChannelMapping</targetReference>
            </connector>
            <label>Role Assigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_if_there_is_a_matching_role</name>
        <label>Verify if there is a matching role</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity_to_Undefined</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Matching Role not found</defaultConnectorLabel>
        <rules>
            <name>Match_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_RolesAndSubChannelMapping</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_SubChannel</targetReference>
            </connector>
            <label>Match found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity-Update SubChannel {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity-Update SubChannel based on Role</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity_Record</name>
        <label>Get Opportunity Record</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_the_Opp_Owner_has_a_Role_Assigned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RolesAndSubChannelMapping</name>
        <label>Get RolesAndSubChannelMapping</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verify_if_there_is_a_matching_role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Record.Owner__r.UserRole.DeveloperName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RoleAndSubChannelMapping__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity_SubChannel</name>
        <label>Update Opportunity SubChannel</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>Sub_Channel__c</field>
            <value>
                <elementReference>Get_RolesAndSubChannelMapping.Sub_Channel__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_to_Undefined</name>
        <label>Update Opportunity to Undefined</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Source__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>TD</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Sub_Channel__c</field>
            <value>
                <stringValue>Undefined</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sub_Channel_to_Undefined_when_no_role_assigned</name>
        <label>Update Sub-Channel to Undefined when no role assigned</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Sub_Channel__c</field>
            <value>
                <stringValue>Undefined</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Record</targetReference>
        </connector>
        <filterFormula>{!$Setup.LVGO__LVGO_Automation_Switch__c.LVGO__Flows__c}</filterFormula>
        <object>Opportunity__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
