force-app/main/default/flows/Run_Client_Tag_Name_Validation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <decisions>
        <name>Check_Validation</name>
        <label>Check Validation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>validation_check</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Client_Tag_Validation_field</targetReference>
            </connector>
            <label>If True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>validation_check</name>
        <dataType>Boolean</dataType>
        <expression>$Setup.LVGO__LVGO_Automation_Switch__c.LVGO__Workflows__c &amp;&amp; (ISNEW() || ISCHANGED( {!$Record.Name}))</expression>
    </formulas>
    <interviewLabel>Run Client Tag Name Validation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Run Client Tag Name Validation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Client_Tag_Validation_field</name>
        <label>Update Client Tag Validation field</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>LVGO__Client_Tag_Name__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Validation</targetReference>
        </connector>
        <object>LVGO__Client_Tag__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
