manifest/flows/APTS_Approval_Approved_Notification.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Agreement_Ready_for_Internal_Signature_Notice_to_Contracts_Team</name>
        <label>Agreement Ready for Internal Signature Notice to Contracts Team</label>
        <locationX>1106</locationX>
        <locationY>455</locationY>
        <actionName>Apttus__APTS_Agreement__c.Notification_to_Contracts_Team_that_an_agreement_is_ready_for_Internal_signature</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Apttus__APTS_Agreement__c.Notification_to_Contracts_Team_that_an_agreement_is_ready_for_Internal_signature</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Agreement_Ready_for_Other_Party_Signature_Notice_to_Requestor</name>
        <label>Agreement Ready for Other Party Signature Notice to Requestor</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <actionName>Apttus__APTS_Agreement__c.Notification_to_Requestor_that_an_agreement_is_ready_for_Other_Party_signature</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Apttus__APTS_Agreement__c.Notification_to_Requestor_that_an_agreement_is_ready_for_Other_Party_signature</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>APTS_Approval_Rejected_Notification</name>
        <label>APTS - Approval - Rejected Notification</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <actionName>Apttus__APTS_Agreement__c.APTS_Approval_Rejected_Notification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Apttus__APTS_Agreement__c.APTS_Approval_Rejected_Notification</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>APTS_Send_Agreement_Approved_Notice</name>
        <label>APTS Send Agreement Approved Notice</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>Apttus__APTS_Agreement__c.APTS_Send_Agreement_Approved_Notice</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Apttus__APTS_Agreement__c.APTS_Send_Agreement_Approved_Notice</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Apttus_Contract_Activation_Notic</name>
        <label>Apttus Contract Activation Notice</label>
        <locationX>1370</locationX>
        <locationY>455</locationY>
        <actionName>Apttus__APTS_Agreement__c.APTS_Activation_Notification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Apttus__APTS_Agreement__c.APTS_Activation_Notification</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Apttus_Contract_Cancellation_Notice</name>
        <label>Apttus Contract Cancellation Notice</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <actionName>Apttus__APTS_Agreement__c.APTS_Cancelleation_Notice_Email_to_Owner</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Apttus__APTS_Agreement__c.APTS_Cancelleation_Notice_Email_to_Owner</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Apttus_Contract_Termination_Notic</name>
        <label>Apttus Contract Termination Notice</label>
        <locationX>1634</locationX>
        <locationY>455</locationY>
        <actionName>Apttus__APTS_Agreement__c.APTS_Termination_Notice_Email_to_Owner</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Apttus__APTS_Agreement__c.APTS_Termination_Notice_Email_to_Owner</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Fully_Executed_Notice_to_Contracts_Tem</name>
        <label>Fully Executed Notice to Contracts Team</label>
        <locationX>1898</locationX>
        <locationY>695</locationY>
        <actionName>Apttus__APTS_Agreement__c.Notification_that_an_agreement_was_fully_signed</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Apttus__APTS_Agreement__c.Notification_that_an_agreement_was_fully_signed</nameSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Email_Templates_Trigger_Based_on_Agreement_Fields</name>
        <label>Email Templates Trigger Based on Agreement Fields</label>
        <locationX>1106</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Apttus_Approval__Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Apttus_Approval__Approval_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>APTS_Send_Agreement_Approved_Notice</targetReference>
            </connector>
            <label>Approval</label>
        </rules>
        <rules>
            <name>Apttus_Approval_Rejected_Notification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Apttus_Approval__Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.APTS_Approval_Rejected__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Apttus_Approval__Approval_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.APTS_Approval_Rejected__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>APTS_Approval_Rejected_Notification</targetReference>
            </connector>
            <label>Apttus : Approval : Rejected Notification</label>
        </rules>
        <rules>
            <name>Apttus_Cancellation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Apttus__Status_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Apttus__Status_Category__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Apttus_Contract_Cancellation_Notice</targetReference>
            </connector>
            <label>Apttus Cancellation</label>
        </rules>
        <rules>
            <name>Agreement_Ready_for_Other_Party_Signature</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.APTS_InternalSignatureComplete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.APTS_InternalSignatureComplete__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agreement_Ready_for_Other_Party_Signature_Notice_to_Requestor</targetReference>
            </connector>
            <label>Agreement Ready for Other Party Signature</label>
        </rules>
        <rules>
            <name>Agreement_Ready_for_Internal_Signature</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.APTS_ClientSignatureComplete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.APTS_ClientSignatureComplete__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agreement_Ready_for_Internal_Signature_Notice_to_Contracts_Team</targetReference>
            </connector>
            <label>Agreement Ready for Internal Signature</label>
        </rules>
        <rules>
            <name>Apttus_Contract_Activation_Notice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Apttus__Status_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Effect</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Apttus__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Apttus__Status_Category__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Apttus__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Apttus_Contract_Activation_Notic</targetReference>
            </connector>
            <label>Apttus Contract Activation Notice</label>
        </rules>
        <rules>
            <name>Apttus_Contract_Termination_Notice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Apttus__Status_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Terminated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Apttus__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Terminated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Apttus__Status_Category__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Apttus__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Apttus_Contract_Termination_Notic</targetReference>
            </connector>
            <label>Apttus Contract Termination Notice</label>
        </rules>
        <rules>
            <name>Fully_Signed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Apttus__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fully Signed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Apttus__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_Ops_Queue</targetReference>
            </connector>
            <label>Fully Signed</label>
        </rules>
    </decisions>
    <interviewLabel>Approved {!$Flow.CurrentDateTime}</interviewLabel>
    <label>APTS - Approval - Approved Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Contract_Ops_Queue</name>
        <label>Contract_Ops_Queue</label>
        <locationX>1898</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateTriggeringAgreementRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract_Ops</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateTriggeringAgreementRecord</name>
        <label>UpdateTriggeringAgreementRecord</label>
        <locationX>1898</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Fully_Executed_Notice_to_Contracts_Tem</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Contract_Ops_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Email_Templates_Trigger_Based_on_Agreement_Fields</targetReference>
        </connector>
        <object>Apttus__APTS_Agreement__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
