manifest/flows/BYP_Inject_Subscription_MemberFee_and_Member_Fee_Type.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>myRule_1_A1</name>
        <label>Bypass Trigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>BypassClass</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>params</name>
            <value>
                <stringValue>Inject Subscription MemberFee and Member Fee Type</stringValue>
            </value>
        </inputParameters>
        <nameSegment>BypassClass</nameSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>myRule_1</name>
        <label>Bypass Trigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myRule_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Bypass Trigger</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>TRUE_Bypass Trigger</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_3</name>
        <label>Subscription Number is not Null</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>FALSE_Subscription Number is not Null</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>TRUE_Subscription Number is not Null</label>
        </rules>
    </decisions>
    <description>Migrated from the BYP - Inject Subscription MemberFee and Member Fee Type process using multiple criteria.</description>
    <formulas>
        <name>formula_1_myRule_3_A1_8331644019</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Membership_Fee__c}</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>{!$Setup.Dev_Settings__c.Disable_Triggers__c} = TRUE</expression>
    </formulas>
    <label>BYP - Inject Subscription MemberFee and Member Fee Type</label>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>myRule_3_A1</name>
        <label>Update MemberFeeType and MemberFee</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Current_Membership_Fee__c</field>
            <value>
                <elementReference>formula_1_myRule_3_A1_8331644019</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_1</targetReference>
        </connector>
        <object>SBQQ__Subscription__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
