manifest/flows/BYP_RFP_Set_Sales_Representative_1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>This email alert is used to send notification to RFPRequest team on RFP Record Creation.</description>
        <name>RFP</name>
        <label>RFPRequest Notification</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <actionName>RFP__c.RFPRequest_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>SalesRep_Notification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RFP__c.RFPRequest_Notification</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>This email  is used to send notification to SalesRep on RFP Record Creation.</description>
        <name>SalesRep_Notification</name>
        <label>SalesRep Notification</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <actionName>RFP__c.SalesRep_Notification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RFP__c.SalesRep_Notification</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_For_Bypass</name>
        <label>Check For Bypass</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Bypass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Dev_Settings__c.Disable_Triggers__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_RFP_Record_Type</targetReference>
            </connector>
            <label>No Bypass</label>
        </rules>
    </decisions>
    <description>Migrated from the BYP - RFP Set Sales Representative process using True criteria.
set the Sales Representative to createdId when the RFP record is created
Also merged workflow Rule : New RFP Workflow</description>
    <environments>Default</environments>
    <formulas>
        <name>formula_1_myRule_1_A2_6260138720</name>
        <dataType>String</dataType>
        <expression>CASE ( TEXT({!$Record.Type__c}) , 
&quot;Vendor Profile&quot;,&quot;NA&quot;,
&quot;Follow-up&quot;,&quot;NA&quot;,
&quot;Other&quot;,&quot;NA&quot;,
Null)</expression>
    </formulas>
    <formulas>
        <name>RequestDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>BYP - RFP Set Sales Representative and New RFP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BYP - RFP Set Sales Representative and New RFP Workflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_RFP_Queue</name>
        <label>Get RFP Queue</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Fields_on_Create_of_RFP_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RFP_Requests_Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RFP_Record_Type</name>
        <label>Get RFP Record Type</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RFP_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RFP__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Fields_on_Create_of_RFP_Record</name>
        <label>Update Fields on Create of RFP Record</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>RFP</targetReference>
        </connector>
        <inputAssignments>
            <field>Next_Step__c</field>
            <value>
                <elementReference>formula_1_myRule_1_A2_6260138720</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Owner__c</field>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_RFP_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_RFP_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Date__c</field>
            <value>
                <elementReference>RequestDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_For_Bypass</targetReference>
        </connector>
        <object>RFP__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
