manifest/flows/BYP_Client_Intake_Routing_Rules.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>myRule_11_A1</name>
        <label>HHS</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.Client_Intake_Form_Sub_Channel_is_HHS</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Client_Intake_Form_Sub_Channel_is_HHS</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>myRule_14_A1</name>
        <label>Aetna opportunity Email Alert</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.Client_Intake_Form_Aetna_Opportunity</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Client_Intake_Form_Aetna_Opportunity</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>myRule_17_A1</name>
        <label>United</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.Client_Intake_Form_Sub_Channel_is_United</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Client_Intake_Form_Sub_Channel_is_United</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>myRule_1_A1</name>
        <label>Bypass Trigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>BypassClass</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>params</name>
            <value>
                <stringValue>Client Intake Routing Rules Back To Setup Help</stringValue>
            </value>
        </inputParameters>
        <nameSegment>BypassClass</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>myRule_20_A1</name>
        <label>Govt Federal</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.Client_Intake_Form_Sub_Channel_is_Govt_Fed</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Client_Intake_Form_Sub_Channel_is_Govt_Fed</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>myRule_23_A1</name>
        <label>HY Opportunity Email Alert</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.Client_Intake_Form_HY_Opportunity</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Client_Intake_Form_HY_Opportunity</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>myRule_26_A1</name>
        <label>Reseller Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.Client_Intake_Form_Reseller_Opportunity</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Client_Intake_Form_Reseller_Opportunity</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>myRule_29_A1</name>
        <label>Client_Intake_Form_Sub_Channel_is_Employer_Labor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.Client_Intake_Form_Sub_Channel_is_Employer_Labor</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Client_Intake_Form_Sub_Channel_is_Employer_Labor</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>myRule_32_A1</name>
        <label>Client_Intake_Form_Sub_Channel_is_HSG</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.Client_Intake_Form_Sub_Channel_is_HSG</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Client_Intake_Form_Sub_Channel_is_HSG</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>myRule_35_A1</name>
        <label>Client_Intake_Form_Sub_Channel_is_Employer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.Client_Intake_Form_Sub_Channel_is_Employer</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Client_Intake_Form_Sub_Channel_is_Employer</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>myRule_38_A1</name>
        <label>Client_Intake_Form_Sub_Channel_is_HSG_East</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.Client_Intake_Form_Sub_Channel_is_HSG_East</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Client_Intake_Form_Sub_Channel_is_HSG_East</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>myRule_41_A1</name>
        <label>Client_Intake_Form_Sub_Channel_is_HSG_Blues</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.Client_Intake_Form_Sub_Channel_is_HSG_Blues</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Client_Intake_Form_Sub_Channel_is_HSG_Blues</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>myRule_44_A1</name>
        <label>Client_Intake_Form_Sub_Channel_is_HSG_West</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.Client_Intake_Form_Sub_Channel_is_HSG_West</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Client_Intake_Form_Sub_Channel_is_HSG_West</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>myRule_47_A1</name>
        <label>Client_Intake_Form_Sub_Channel_is_Employer_ASO</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.Client_Intake_Form_Sub_Channel_is_Employer_ASO</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Client_Intake_Form_Sub_Channel_is_Employer_ASO</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>myRule_50_A1</name>
        <label>Client_Intake_Form_Sub_Channel_is_HSG_Strategic_Partnerships</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.Client_Intake_Form_Sub_Channel_is_HSG_Strategic_Partnerships</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Client_Intake_Form_Sub_Channel_is_HSG_Strategic_Partnerships</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>myRule_53_A1</name>
        <label>New Implementation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.Client_Intake_Form_NewImplementation_Below_1000</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Client_Intake_Form_NewImplementation_Below_1000</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>myRule_56_A1</name>
        <label>Mid Implementation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.Client_Intake_Form_MidImplementation_Between_1000_to_5000</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Client_Intake_Form_MidImplementation_Between_1000_to_5000</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>myRule_59_A1</name>
        <label>Large Implementation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.Client_Intake_Form_LargeImplementation_Between_5000_to_20000</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Client_Intake_Form_LargeImplementation_Between_5000_to_20000</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>myRule_5_A1</name>
        <label>Account Manager Email Alert</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.Client_Intake_Form_Account_Manager_Not_Null</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Client_Intake_Form_Account_Manager_Not_Null</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>myRule_62_A1</name>
        <label>Strategic Implementation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.Client_Intake_Form_Strategic_Implementation_above_20000</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Client_Intake_Form_Strategic_Implementation_above_20000</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>myRule_65_A1</name>
        <label>Default</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.Client_Intake_Form_Default</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Client_Intake_Form_Default</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>myRule_8_A1</name>
        <label>Canada Client Intake Email Alert</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.Client_Intake_Form_Canada_Opportunity</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Client_Intake_Form_Canada_Opportunity</nameSegment>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>myRule_1</name>
        <label>Bypass Condition</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myRule_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Bypass Condition</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>TRUE_Bypass Condition</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_11</name>
        <label>Sub Channel is HHS</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myRule_14</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Sub Channel is HHS</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sub_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HHS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Contracted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Contracted__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_11_A1</targetReference>
            </connector>
            <label>TRUE_Sub Channel is HHS</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_14</name>
        <label>Sub Channel is HSG - Aetna</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myRule_17</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Sub Channel is HSG - Aetna</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_14</name>
            <conditionLogic>(1 OR 4) AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Aetna</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Contracted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Contracted__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HSG - Aetna</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_14_A1</targetReference>
            </connector>
            <label>TRUE_Sub Channel is HSG - Aetna</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_17</name>
        <label>Sub Channel is United</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myRule_20</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Sub Channel is United</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_17</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sub_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HSG - United</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Contracted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Contracted__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_17_A1</targetReference>
            </connector>
            <label>TRUE_Sub Channel is United</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_20</name>
        <label>Sub Channel is Govt Federal</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myRule_23</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Sub Channel is Govt Federal</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_20</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Contracted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Contracted__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HSG - Federal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_20_A1</targetReference>
            </connector>
            <label>TRUE_Sub Channel is Govt Federal</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_23</name>
        <label>HY Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myRule_26</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_HY Opportunity</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_23</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__PrimaryQuote__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__PrimaryQuote__r.HY_Product_Count__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Contracted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Contracted__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_23_A1</targetReference>
            </connector>
            <label>TRUE_HY Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_26</name>
        <label>Sub Channel is TPA/Reseller</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myRule_29</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Sub Channel is TPA/Reseller</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_26</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sub_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HSG - TPA/Reseller</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Contracted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Contracted__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_26_A1</targetReference>
            </connector>
            <label>TRUE_Sub Channel is TPA/Reseller</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_29</name>
        <label>Sub Channel is Employer - Labor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myRule_32</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Sub Channel is Employer - Labor</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_29</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sub_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employer - Labor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Contracted__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Contracted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_29_A1</targetReference>
            </connector>
            <label>TRUE_Sub Channel is Employer - Labor</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_3</name>
        <label>NO ACTION Client Services - Additional Lives</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myRule_5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_NO ACTION Client Services - Additional Lives</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>TRUE_NO ACTION Client Services - Additional Lives</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_32</name>
        <label>Sub-Channel is HSG</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myRule_35</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Sub-Channel is HSG</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_32</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sub_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HSG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Contracted__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Contracted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_32_A1</targetReference>
            </connector>
            <label>TRUE_Sub-Channel is HSG</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_35</name>
        <label>Sub-Channel is Employer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myRule_38</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Sub-Channel is Employer</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_35</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sub_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Contracted__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Contracted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_35_A1</targetReference>
            </connector>
            <label>TRUE_Sub-Channel is Employer</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_38</name>
        <label>Sub-Channel is HSG - East</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myRule_41</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Sub-Channel is HSG - East</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_38</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sub_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HSG - East</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Contracted__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Contracted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_38_A1</targetReference>
            </connector>
            <label>TRUE_Sub-Channel is HSG - East</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_41</name>
        <label>Sub-Channel is HSG - Blues</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myRule_44</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Sub-Channel is HSG - Blues</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_41</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sub_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HSG - Blues</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Channel__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Contracted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_41_A1</targetReference>
            </connector>
            <label>TRUE_Sub-Channel is HSG - Blues</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_44</name>
        <label>Sub-Channel is HSG - West</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myRule_47</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Sub-Channel is HSG - West</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_44</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sub_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HSG - West</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Contracted__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Contracted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_44_A1</targetReference>
            </connector>
            <label>TRUE_Sub-Channel is HSG - West</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_47</name>
        <label>Sub-Channel is Employer - ASO</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myRule_50</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Sub-Channel is Employer - ASO</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_47</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sub_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employer - ASO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Contracted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Contracted__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_47_A1</targetReference>
            </connector>
            <label>TRUE_Sub-Channel is Employer - ASO</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_5</name>
        <label>Account Manager not null</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myRule_8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Account Manager not null</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Client_Manager_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Contracted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Contracted__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>TRUE_Account Manager not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_50</name>
        <label>Sub-Channel is HSG - Strategic Partnerships</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myRule_53</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Sub-Channel is HSG - Strategic Partnerships</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_50</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sub_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HSG - Strategic Partnerships</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Contracted__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Contracted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_50_A1</targetReference>
            </connector>
            <label>TRUE_Sub-Channel is HSG - Strategic Partnerships</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_53</name>
        <label>New Implementation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myRule_56</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_New Implementation</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_53</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Initial_of_Lives__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Contracted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Contracted__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_53_A1</targetReference>
            </connector>
            <label>TRUE_New Implementation</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_56</name>
        <label>Mid Implementation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myRule_59</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Mid Implementation</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_56</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Initial_of_Lives__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Initial_of_Lives__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Contracted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Contracted__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_56_A1</targetReference>
            </connector>
            <label>TRUE_Mid Implementation</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_59</name>
        <label>Large Implementation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myRule_62</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Large Implementation</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_59</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Initial_of_Lives__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5001.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Initial_of_Lives__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>20000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Contracted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Contracted__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_59_A1</targetReference>
            </connector>
            <label>TRUE_Large Implementation</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_62</name>
        <label>Strategic Implementation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myRule_65</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Strategic Implementation</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_62</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Initial_of_Lives__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>20001.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Contracted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Contracted__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_62_A1</targetReference>
            </connector>
            <label>TRUE_Strategic Implementation</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_65</name>
        <label>Default</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>FALSE_Default</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_65</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Contracted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Contracted__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_65_A1</targetReference>
            </connector>
            <label>TRUE_Default</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_8</name>
        <label>Sub Channel is Canada</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myRule_11</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Sub Channel is Canada</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sub_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Contracted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Contracted__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_8_A1</targetReference>
            </connector>
            <label>TRUE_Sub Channel is Canada</label>
        </rules>
    </decisions>
    <description>Migrated from the BYP - Client Intake Routing Rules process using multiple criteria.
Process Builder Sends email to different recipients based on Routing rules - Bypass Enabled</description>
    <formulas>
        <name>formula_TRUE_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>{!$Setup.Dev_Settings__c.Disable_Triggers__c} = TRUE</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>AND(
		AND(
			ISCHANGED({!$Record.SBQQ__Contracted__c}),
			{!$Record.SBQQ__Contracted__c} = TRUE
			),
		CONTAINS({!$Record.Name}, &apos;Additional Lives&apos;),
			AND(
			  NOT(
			    ISNULL({!$Record.AccountId})
				),
			  NOT(
			    ISNULL({!$Record.Account.Account_Manager__c})
				),
  			  NOT(
  			    ISNULL({!$Record.Account.Account_Manager__r.Email})
  				),
				CONTAINS({!$Record.Account.Account_Manager__r.Email} ,&apos;clientservices@teladoc&apos;)
			)
		)</expression>
    </formulas>
    <label>BYP - Client Intake Routing Rules</label>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>myRule_3_A1</name>
        <label>No update - Conditions won&apos;t be true</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Contracted__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_1</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
