manifest/flows/Custom_Account_Team_Member.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Send_email_to_Account_owner</name>
        <label>Send email to Account owner</label>
        <locationX>527</locationX>
        <locationY>686</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Account_Team_Email_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Account_Info.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>cAccount_Team_Email_Subject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Account_Team_Record</name>
        <label>Assign Account Team Record</label>
        <locationX>527</locationX>
        <locationY>446</locationY>
        <assignmentItems>
            <assignToReference>vAccountTeamRecord.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vAccountTeamRecord.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Team_Role</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vAccountTeamRecord.AccountAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Access</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vAccountTeamRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Account_Team_Member</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>cAccount_Team_Email_Subject</name>
        <dataType>String</dataType>
        <value>
            <stringValue>New Account Team Member Added</stringValue>
        </value>
    </constants>
    <dynamicChoiceSets>
        <name>Account_Access_Picklist_Choice_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AccountAccessLevel</picklistField>
        <picklistObject>AccountTeamMember</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Team_Role_Picklist_Choice_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TeamMemberRole</picklistField>
        <picklistObject>AccountTeamMember</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Custom Account Team Member {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Custom Account Team Member</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Account_Team_Member</name>
        <label>Create Account Team Member</label>
        <locationX>532</locationX>
        <locationY>572</locationY>
        <connector>
            <targetReference>Send_email_to_Account_owner</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>vAccountTeamRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Info</name>
        <label>Get Account Info</label>
        <locationX>527</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Team_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Account_Team_Screen</name>
        <label>Account Team Screen</label>
        <locationX>527</locationX>
        <locationY>326</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Account_Team_Record</targetReference>
        </connector>
        <fields>
            <name>Account_Team_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Account_Team_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>User_Full_Name</name>
                    <fieldText>&lt;p&gt;User&lt;/p&gt;&lt;p&gt;{!$User.FirstName}{!$User.LastName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Account_Team_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Team_Role</name>
                    <choiceReferences>Team_Role_Picklist_Choice_Set</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Team Role</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Account_Team_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Account_Access</name>
                    <choiceReferences>Account_Access_Picklist_Choice_Set</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Account Access</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1093</locationX>
        <locationY>749</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(244, 4, 4);&quot;&gt;An error occurred while creating the account team member. Please reach out to the account owner to add yourself to the account team.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_0</name>
        <label>Error Screen</label>
        <locationX>755</locationX>
        <locationY>802</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Message_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(15, 15, 15);&quot;&gt;An error occurred while sending the email confirmation to the account owner but you should still be added to the account team member.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>527</locationX>
        <locationY>806</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Account Team Member(s) are successfully created!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>401</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Account_Info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Account_Team_Email_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A new Account team member has been added to an Account that you own.
Team Member Name:{!$User.FirstName} {!$User.LastName}</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vAccountTeamRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
</Flow>
