manifest/flows/L2O_OpportunityContactRoleAfterCreateORSAve.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Account_Field_Assignment</name>
        <label>Account Field Assignment</label>
        <locationX>248</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.L2O_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_isNew</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contact_Role_Commission_Rate_fields_Assignment</name>
        <label>Contact Role Commission Rate fields Assignment</label>
        <locationX>138</locationX>
        <locationY>1367</locationY>
        <assignmentItems>
            <assignToReference>$Record.L2O_Broker_Flat_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Initial_Opportunity_ContactRole.L2O_Broker_Flat_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.L2O_Broker_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Initial_Opportunity_ContactRole.L2O_Broker_Percentage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.L2O_Chronic_Care_Flat_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Initial_Opportunity_ContactRole.L2O_Chronic_Care_Flat_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.L2O_Chronic_Care_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Initial_Opportunity_ContactRole.L2O_Chronic_Care_Percentage__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Initial_Opportunity_ContactRole</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>if_ContactRole_Matched</name>
        <label>if ContactRole Matched</label>
        <locationX>270</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Loop_on_Initial_Opportunity_ContactRole</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isMatched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_on_Initial_Opportunity_ContactRole.ContactId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_on_Initial_Opportunity_ContactRole.Role</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Role_Commission_Rate_fields_Assignment</targetReference>
            </connector>
            <label>isMatched</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Renewal_ContacRole</name>
        <label>is Renewal ContacRole?</label>
        <locationX>182</locationX>
        <locationY>767</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isRenewal</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Broker</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Benefit Consultant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General Agency</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity.SBQQ__RenewedContract__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Initial_Opportunity_Record_by_Renewal_Contract</targetReference>
            </connector>
            <label>isRenewal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_isNew</name>
        <label>Record isNew?</label>
        <locationX>380</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>is_Renewal_ContacRole</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Account_Field</name>
        <label>Update Account Field</label>
        <locationX>380</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Record_isNew</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isContact</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.ContactId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>null</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Field_Assignment</targetReference>
            </connector>
            <label>isContact?</label>
        </rules>
    </decisions>
    <description>Updated for - CON0000681-169948</description>
    <environments>Default</environments>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>OpportunityContactRoleAfterCreateORSAve {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OpportunityContactRole Before Save Flow</label>
    <loops>
        <name>Loop_on_Initial_Opportunity_ContactRole</name>
        <label>Loop on Initial Opportunity ContactRole</label>
        <locationX>50</locationX>
        <locationY>1127</locationY>
        <collectionReference>Get_ContactRole_of_Initial_Opportunity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>if_ContactRole_Matched</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_ContactRole_of_Initial_Opportunity</name>
        <label>Get ContactRole of Initial Opportunity</label>
        <locationX>50</locationX>
        <locationY>1007</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_Initial_Opportunity_ContactRole</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Initial_Opportunity_Record_by_Renewal_Contract.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Initial_Opportunity_Record_by_Renewal_Contract</name>
        <label>Get Initial Opportunity Record by Renewal Contract</label>
        <locationX>50</locationX>
        <locationY>887</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ContactRole_of_Initial_Opportunity</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity.SBQQ__RenewedContract__r.SBQQ__Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Account_Field</targetReference>
        </connector>
        <object>OpportunityContactRole</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
