manifest/flows/L2O_Lead_Before_Save_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Lead_status_detail_for_Sal_but_not_conversion_ready</name>
        <label>Assign Lead status detail for Sal but not conversion ready</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.L2O_Lead_Status_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Activity Logged</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Status_detail</name>
        <label>Assign Status detail</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.L2O_Lead_Status_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sales Qualified</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assignment_of_last_Lead_status</name>
        <label>Assignment of last Lead status</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.L2O_Last_Lead_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Status</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Change_Status_to_AQL</name>
        <label>Change Status to AQL</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AQL</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_status_changed_to_SAL</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_Lead_Created_By_Marketo</name>
        <label>If Lead Created By Marketo</label>
        <locationX>446</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>If_status_changed_to_SAL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Created_by_Marketo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marketing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Integration</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Status_to_AQL</targetReference>
            </connector>
            <label>Lead Created by Marketo</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_status_changed_to_SAL</name>
        <label>If status changed to SAL ?</label>
        <locationX>446</locationX>
        <locationY>587</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_status_changed_to_SAL_line_of_bussiness_is_USGH_and_ready_for_conversion</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5) AND 6 AND (7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SAL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.L2O_Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Health Plan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.L2O_Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.L2O_Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.L2O_Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Insurer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.L2O_Ready_for_Conversion_to_Opportunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.L2O_Ready_for_Conversion_to_Opportunity__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.L2O_Ready_for_Conversion_to_Opportunity__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Status_detail</targetReference>
            </connector>
            <label>If status changed to SAL,line of bussiness is USGH and ready for conversion</label>
        </rules>
        <rules>
            <name>If_SAL_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SAL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.L2O_Ready_for_Conversion_to_Opportunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lead_status_detail_for_Sal_but_not_conversion_ready</targetReference>
            </connector>
            <label>If SAL selected and next step added but not ready for conversion</label>
        </rules>
        <rules>
            <name>If_Status_Changed_To_rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_of_last_Lead_status</targetReference>
            </connector>
            <label>If Status Changed To rejected</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Lead Before Save Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Before Save Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>If_Lead_Created_By_Marketo</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
