manifest/flows/L2O_Update_Lead_Status_to_AQL_for_marketo.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Value_Of_lead_status_to_AQL_for_marketo</name>
        <label>Assign Value Of lead status to AQL for marketo</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AQL</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>check_if_the_lead_is_created_by_marketo</name>
        <label>check if the lead is created by marketo</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>not marketo lead</defaultConnectorLabel>
        <rules>
            <name>Is_marketo_lead</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.L2O_Marketo_profile_name</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marketing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Value_Of_lead_status_to_AQL_for_marketo</targetReference>
            </connector>
            <label>Is marketo lead</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Lead Status to AQL for marketo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Lead Status to AQL for marketo</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_if_the_lead_is_created_by_marketo</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
