manifest/flows/L2O_Update_Assets.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Collection_Components</name>
        <label>Collection Components</label>
        <locationX>138</locationX>
        <locationY>2447</locationY>
        <assignmentItems>
            <assignToReference>Collection_Component</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Single_Component</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Components</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collection_SA_Items</name>
        <label>Collection SA Items</label>
        <locationX>138</locationX>
        <locationY>1751</locationY>
        <assignmentItems>
            <assignToReference>CollectionSA_Var</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleSA_Var</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_SA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Single_Component_Values</name>
        <label>Single Component Values</label>
        <locationX>138</locationX>
        <locationY>2327</locationY>
        <assignmentItems>
            <assignToReference>Single_Component.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Components.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Component.UsageEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.UsageEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Component.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collection_Components</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Single_SA_Values</name>
        <label>Single SA Values</label>
        <locationX>138</locationX>
        <locationY>1631</locationY>
        <assignmentItems>
            <assignToReference>SingleSA_Var.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_SA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleSA_Var.SBQQ__Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collection_SA_Items</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Quote_Type</name>
        <label>Quote Type</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Amended_Contract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Amendment</defaultConnectorLabel>
        <rules>
            <name>New_or_Renewal</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote.SBQQ__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quote</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quote.SBQQ__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Contract</targetReference>
            </connector>
            <label>New or Renewal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Usage_End_Date</name>
        <label>Usage End Date</label>
        <locationX>182</locationX>
        <locationY>1151</locationY>
        <defaultConnectorLabel>Blank</defaultConnectorLabel>
        <rules>
            <name>Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.UsageEndDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Cancelled</targetReference>
            </connector>
            <label>Populated</label>
        </rules>
    </decisions>
    <description>Update the assets with the Contract Id lookup.</description>
    <environments>Default</environments>
    <interviewLabel>Update Assets {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Assets</label>
    <loops>
        <name>Iterate_Components</name>
        <label>Iterate Components</label>
        <locationX>50</locationX>
        <locationY>2207</locationY>
        <collectionReference>Components</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Single_Component_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Cancel_Components</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_SA</name>
        <label>Iterate SA</label>
        <locationX>50</locationX>
        <locationY>1511</locationY>
        <collectionReference>Subscribed_Assets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Single_SA_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Deactivate_SA</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Amended_Contract</name>
        <label>Amended Contract</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Asset_with_Amended_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote.SBQQ__MasterContract__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Components</name>
        <label>Components</label>
        <locationX>50</locationX>
        <locationY>2087</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Components</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__OptionType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Component</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__RequiredByAsset__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>UsageEndDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote</name>
        <label>Quote</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quote_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Quote_Line.SBQQ__Quote__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>New_Contract</name>
        <label>New Contract</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Asset_with_ContractId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Quote_Line</name>
        <label>Quote Line</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__QuoteLine__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Subscribed_Assets</name>
        <label>Subscribed Assets</label>
        <locationX>50</locationX>
        <locationY>1391</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_SA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Asset__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__SubscribedAsset__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Cancel_Components</name>
        <label>Cancel Components</label>
        <locationX>50</locationX>
        <locationY>2663</locationY>
        <inputReference>Collection_Component</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Deactivate_SA</name>
        <label>Deactivate SA</label>
        <locationX>50</locationX>
        <locationY>1967</locationY>
        <connector>
            <targetReference>Components</targetReference>
        </connector>
        <inputReference>CollectionSA_Var</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Purchase_Date</name>
        <label>Purchase Date</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Quote_Line</targetReference>
        </connector>
        <inputAssignments>
            <field>PurchaseDate</field>
            <value>
                <elementReference>$Record.SBQQ__QuoteLine__r.SBQQ__Quote__r.SBQQ__Opportunity2__r.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Status_Cancelled</name>
        <label>Status Cancelled</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Subscribed_Assets</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>This is in case of Amend stand alone assets where the assets were created via the Amend Assets button on the Amend Opp without creation of Contract.</description>
        <name>Update_Asset_with_Amended_Contract</name>
        <label>Update Asset with Amended Contract</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Usage_End_Date</targetReference>
        </connector>
        <inputAssignments>
            <field>L2O_Contract__c</field>
            <value>
                <elementReference>Amended_Contract.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Asset with the Contract Id</description>
        <name>Update_Asset_with_ContractId</name>
        <label>Update Asset with ContractId</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Usage_End_Date</targetReference>
        </connector>
        <inputAssignments>
            <field>L2O_Contract__c</field>
            <value>
                <elementReference>New_Contract.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Purchase_Date</targetReference>
        </connector>
        <object>Asset</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Collection_Component</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>CollectionSA_Var</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__SubscribedAsset__c</objectType>
    </variables>
    <variables>
        <name>Single_Component</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>SingleSA_Var</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__SubscribedAsset__c</objectType>
    </variables>
</Flow>
