manifest/flows/LVGO__Auto_update_Account_Status_upon_Opp_Close_1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Client_Account_is_created</name>
        <label>Client Account is created</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TRUE_Client_Account_is_created</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Downmarket Client</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client+Partner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>account_IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Health_Plan_Payer</targetReference>
            </connector>
            <label>TRUE_Client Account is created</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_1</name>
        <label>Is Process On</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myRule_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Is Process On</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>TRUE_Is Process On</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_3</name>
        <label>Closed Won Opp Count &gt; 0</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Client_Account_is_created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Closed Won Opp Count &gt; 0</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LVGO__Closed_Won_Opportunity_Count__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>TRUE_Closed Won Opp Count &gt; 0</label>
        </rules>
    </decisions>
    <description>Migrated from the Auto update Account Status upon Opp Close process using multiple criteria.
When the closed won opp count field on the account is greater than 0, move account status to &quot;Client&quot;</description>
    <environments>Default</environments>
    <formulas>
        <name>account_IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>NOT({!$Setup.LVGO__LVGO_Automation_Switch__c.LVGO__Flows__c} )</expression>
    </formulas>
    <label>Auto update Account Status upon Opp Close_1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Benefit_Consultant</name>
        <label>Benefit Consultant</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Pharmacy_Benefits_Manager</targetReference>
        </connector>
        <inputAssignments>
            <field>LVGO__Client_Partnership__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LVGO__RelationshipType__c</field>
            <value>
                <stringValue>Benefits Consultant</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>{!$Label.lvgo__Account_Partnership}</stringValue>
            </value>
        </inputAssignments>
        <object>LVGO__Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Health_Plan_Payer</name>
        <label>Health Plan (Payer)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Benefit_Consultant</targetReference>
        </connector>
        <inputAssignments>
            <field>LVGO__Client_Partnership__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LVGO__RelationshipType__c</field>
            <value>
                <stringValue>Health Plan (Payer)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>{!$Label.lvgo__Account_Partnership}</stringValue>
            </value>
        </inputAssignments>
        <object>LVGO__Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Pharmacy_Benefits_Manager</name>
        <label>Pharmacy Benefits Manager</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>LVGO__Client_Partnership__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LVGO__RelationshipType__c</field>
            <value>
                <stringValue>Pharmacy Benefit Manager</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>{!$Label.lvgo__Account_Partnership}</stringValue>
            </value>
        </inputAssignments>
        <object>LVGO__Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>myRule_1_A1</name>
        <label>Dummy Action</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedById</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Test</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_3_A1</name>
        <label>Update Account Status to Client</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Client_Account_is_created</targetReference>
        </connector>
        <inputAssignments>
            <field>LVGO__Account_Type__c</field>
            <value>
                <stringValue>Client</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_1</targetReference>
        </connector>
        <object>LVGO__Account__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
