manifest/flows/LVGO__Client_Overview_and_Program_Overview_Activate_Status_Manager.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Failed_to_Activate_Program_Overview</name>
        <label>Failed to Activate Program Overview</label>
        <locationX>1435</locationX>
        <locationY>50</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>UserEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Failed to Activate Program Overview Record</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>FailedToActivateProgramOverviewNotice</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Program_to_List</name>
        <label>Add Program to List</label>
        <locationX>1676</locationX>
        <locationY>1143</locationY>
        <assignmentItems>
            <assignToReference>relatedProgramOverviewsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentProgramOverview</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_Realted_Program_Overviews</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Program_Overview_Status_To_Activate</name>
        <label>Set Program Overview Status To Activate</label>
        <locationX>1675</locationX>
        <locationY>1517</locationY>
        <assignmentItems>
            <assignToReference>currentProgramOverview.LVGO__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentContractRecord.LVGO__Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Program_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Program_Overview_Status_to_Expired</name>
        <label>Set Program Overview Status to Expired</label>
        <locationX>1505</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>currentProgramOverview.LVGO__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentContractRecord.LVGO__Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Program_to_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Determine whether or not to update the Program Overview Status to &quot;Activated&quot;</description>
        <name>Check_if_Program_Overview_should_be_Activated</name>
        <label>Check if Program Overview should be Activated</label>
        <locationX>1070</locationX>
        <locationY>1401</locationY>
        <defaultConnector>
            <targetReference>Loop_Thru_Realted_Program_Overviews</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Status_to_Activate_or_Reactivate</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>currentProgramOverview.LVGO__Program_Start_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentContractRecord.LVGO__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentContractRecord.LVGO__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Re-Activate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Program_Overview_Status_To_Activate</targetReference>
            </connector>
            <label>Update Status to Activate or Reactivate</label>
        </rules>
        <rules>
            <name>Update_Status_to_Expired_or_Terminated</name>
            <conditionLogic>3 AND (1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>currentContractRecord.LVGO__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expired</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentContractRecord.LVGO__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Terminated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentProgramOverview.LVGO__Program_End_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Program_Overview_Status_to_Expired</targetReference>
            </connector>
            <label>Update Status to Expired or Terminated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_Whether_Active_CO_records_Found_or_Not</name>
        <label>Checking Whether Active CO records Found or Not</label>
        <locationX>1181</locationX>
        <locationY>157</locationY>
        <defaultConnector>
            <targetReference>Failed_to_Activate_Program_Overview</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Did not find Record</defaultConnectorLabel>
        <rules>
            <name>Found_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>foundRelatedActiveClientOverview</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Program_Overview_to_Active</targetReference>
            </connector>
            <label>Found Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Record_Type_and_Status</name>
        <label>Determine Record Type and Status</label>
        <locationX>727</locationX>
        <locationY>417</locationY>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>Client_Overview_Active</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>currentContractRecord.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>clientOverviewRecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentContractRecord.LVGO__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentContractRecord.LVGO__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Re-Activate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Make_the_CO_status_as_Active</targetReference>
            </connector>
            <label>Client Overview - Activate</label>
        </rules>
        <rules>
            <name>Client_Overview_Expired</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>currentContractRecord.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>clientOverviewRecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentContractRecord.LVGO__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expired</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentContractRecord.LVGO__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Terminated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Program_Overviews</targetReference>
            </connector>
            <label>Client Overview - Expired</label>
        </rules>
        <rules>
            <name>Program_Overview_Active</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>currentContractRecord.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>programOverviewRecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentContractRecord.LVGO__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentContractRecord.LVGO__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Re-Activate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Active_CO_records</targetReference>
            </connector>
            <label>Program Overview - Activate</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>clientOverviewRecordTypeId</name>
        <dataType>String</dataType>
        <expression>{!$Label.LVGO__Program_Agreement_Record_Type}</expression>
    </formulas>
    <formulas>
        <name>orgBaseURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260}))</expression>
    </formulas>
    <formulas>
        <name>programOverviewRecordTypeId</name>
        <dataType>String</dataType>
        <expression>{!$Label.LVGO__Program_Schedule_Record_Type}</expression>
    </formulas>
    <formulas>
        <name>UserEmail</name>
        <dataType>String</dataType>
        <expression>{!$User.Email}+&apos;,USGHImplementationFullLeadership@teladoc.com&apos;</expression>
    </formulas>
    <interviewLabel>Client Overview and Program Overview Activate Status Manager {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Client Overview and Program Overview Activate Status Manager</label>
    <loops>
        <description>Loop through each related Program Overview to determine whether or not to update the status to &quot;Activated&quot;</description>
        <name>Loop_Thru_Realted_Program_Overviews</name>
        <label>Loop Thru Related Program Overviews</label>
        <locationX>1158</locationX>
        <locationY>987</locationY>
        <assignNextValueToReference>currentProgramOverview</assignNextValueToReference>
        <collectionReference>relatedProgramOverviews</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_Program_Overview_should_be_Activated</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Related_Program_Overviews</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Current_Contract_Record</name>
        <label>Get Current Contract Record</label>
        <locationX>734</locationX>
        <locationY>122</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Determine_Record_Type_and_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>LVGO__Contract__c</object>
        <outputReference>currentContractRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LVGO__Account__c</queriedFields>
        <queriedFields>LVGO__Contract_Path__c</queriedFields>
        <queriedFields>LVGO__Status__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>LVGO__Client_Overview__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>LVGO__Program_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Active_CO_records</name>
        <label>Get Related Active CO records</label>
        <locationX>977</locationX>
        <locationY>98</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checking_Whether_Active_CO_records_Found_or_Not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentContractRecord.LVGO__Client_Overview__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>clientOverviewRecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LVGO__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>LVGO__Contract__c</object>
        <outputReference>foundRelatedActiveClientOverview</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Program_Overviews</name>
        <label>Get Related Program Overviews</label>
        <locationX>847</locationX>
        <locationY>979</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Thru_Realted_Program_Overviews</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LVGO__Client_Overview__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>programOverviewRecordTypeId</elementReference>
            </value>
        </filters>
        <object>LVGO__Contract__c</object>
        <outputReference>relatedProgramOverviews</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LVGO__Status__c</queriedFields>
        <queriedFields>LVGO__Program_Start_Date__c</queriedFields>
        <queriedFields>LVGO__Program_End_Date__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Make_the_CO_status_as_Active</name>
        <label>Make the CO status as Active</label>
        <locationX>1207</locationX>
        <locationY>643</locationY>
        <connector>
            <targetReference>Get_Related_Program_Overviews</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentContractRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LVGO__Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>LVGO__Contract__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Program_Overview_to_Active</name>
        <label>Update Program Overview to Active</label>
        <locationX>1448</locationX>
        <locationY>228</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentContractRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LVGO__Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>LVGO__Contract__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update all related Program Overviews where status will be set to &quot;Activated&quot;</description>
        <name>Update_Related_Program_Overviews</name>
        <label>Update Related Program Overviews</label>
        <locationX>1907</locationX>
        <locationY>984</locationY>
        <inputReference>relatedProgramOverviewsToUpdate</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>105</locationY>
        <connector>
            <targetReference>Get_Current_Contract_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>FailedToActivateClientOverviewNotice</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Attention, &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The following Client Overview could not be activated because the Status of the Client overview is {!currentContractRecord.LVGO__Status__c}. Activation of Client overview is not possible if the Status is either &apos;Teminated&apos; or &apos;Expired&apos;. Please do change the Status of the Client Overview and try activating again.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Link to Client Overview that failed to Activate:&lt;/p&gt;&lt;p&gt;{!orgBaseURL}{!currentContractRecord.Id}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>FailedToActivateProgramOverviewNotice</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Attention,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The following Program Overview could not be activated because the associated Client Overview is not Active. Please click the link below and activate the Related Client Overview and try activating this Program Overview again.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Link to Program Overview that failed to Activate:&lt;/p&gt;&lt;p&gt;{!orgBaseURL}{!currentContractRecord.Id}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>currentContractRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LVGO__Contract__c</objectType>
    </variables>
    <variables>
        <description>Current Program Overview in collection of related Program Overview records</description>
        <name>currentProgramOverview</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LVGO__Contract__c</objectType>
    </variables>
    <variables>
        <name>foundRelatedActiveClientOverview</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LVGO__Contract__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Collection of Program Overview records related to the Client Overview that triggered the flow.</description>
        <name>relatedProgramOverviews</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LVGO__Contract__c</objectType>
    </variables>
    <variables>
        <description>Collection of related Program Overview records to updated</description>
        <name>relatedProgramOverviewsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LVGO__Contract__c</objectType>
    </variables>
</Flow>
