manifest/flows/LVGO__Enrollment_Communications_Survey_Wizard.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Send_Email_to_Contacts</name>
        <label>Send Email to Contacts</label>
        <locationX>842</locationX>
        <locationY>1538</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>SelectedContactEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>TeladocHealth - Enrollment Marketing Communications Input Form</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Selected_Contact_Email</name>
        <label>Assign Selected Contact Email</label>
        <locationX>842</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>SelectedContactEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContactEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Enrollment_Communications_Survey</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Standard</name>
        <choiceText>Standard</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Validate_Account_Contacts</name>
        <label>Validate Account Contacts</label>
        <locationX>908</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>NoAccountContactsScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account Contacts Null</defaultConnectorLabel>
        <rules>
            <name>Account_Contacts_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Account_Contacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AccountContactSelectionScreen</targetReference>
            </connector>
            <label>Account Contacts Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Contact_Email_Address</name>
        <label>Validate Contact Email Address</label>
        <locationX>710</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Assign_Selected_Contact_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact Email Exists</defaultConnectorLabel>
        <rules>
            <name>Contact_Email_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Error_Message_Screen</targetReference>
            </connector>
            <label>Contact Email is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_current_users_profile</name>
        <label>Validate current users profile</label>
        <locationX>388</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_Related_Account_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Current user allowed to send survey</defaultConnectorLabel>
        <rules>
            <name>Current_user_not_allowed_to_send_survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.LVGO__Send_Enrollment_Survey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fCurrent_User_Profile</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Users_Not_Allowed_to_Send_Screen</targetReference>
            </connector>
            <label>Current user not allowed to send survey</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_if_the_Account_has_COs_and_POs_created_0</name>
        <label>Validate if the Account has COs and POs created</label>
        <locationX>1139</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Account_has_no_related_contracts_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_there_are_COs_and_POs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_COs_and_POs_related_to_the_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_Account_Contacts</targetReference>
            </connector>
            <label>If there are COs and POs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_if_the_account_has_existing_surveys_0</name>
        <label>Validate if the account has existing surveys</label>
        <locationX>726</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Validate_if_the_Account_has_COs_and_POs_created_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Survey_already_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Enrollment_Survey_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Survey_already_exists_screen_0</targetReference>
            </connector>
            <label>Survey already exists</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AccountContactRecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>LVGO__Contact_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LVGO__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LVGO__Send_Enrollment_Survey__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <limit>10</limit>
        <object>LVGO__AccountContactRelation__c</object>
        <outputAssignments>
            <assignToReference>ContactEmail</assignToReference>
            <field>LVGO__Contact_Email__c</field>
        </outputAssignments>
        <valueField>LVGO__Contact_Name__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pEnrollement_Communications_Survey_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LVGO__Enrollment_Communications_Survey_Type__c</picklistField>
        <picklistObject>LVGO__Enrollment_Communications_Survey__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>fCurrent_User_Profile</name>
        <dataType>String</dataType>
        <expression>{!$Profile.Name}</expression>
    </formulas>
    <formulas>
        <name>fEnrollment_Communications_Survey_Community_URL</name>
        <dataType>String</dataType>
        <expression>{!$Label.LVGO__Enrollment_Communications_Survey_Community_URL}</expression>
    </formulas>
    <formulas>
        <name>fEnrollment_Marketing_Lead_Id</name>
        <dataType>String</dataType>
        <expression>IF( ISBLANK({!Get_Related_Account_Record.LVGO__EML__c}), &apos;&apos;, {!Get_Related_Account_Record.LVGO__EML__r.Id})</expression>
    </formulas>
    <formulas>
        <name>fOrg_Base_Url</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_340}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_340}))</expression>
    </formulas>
    <interviewLabel>Enrollment Communications Survey Wizard {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Enrollment Communications Survey Wizard</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Enrollment_Communications_Survey</name>
        <label>Create Enrollment Communications Survey</label>
        <locationX>842</locationX>
        <locationY>1430</locationY>
        <assignRecordIdToReference>vSurveyRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Send_Email_to_Contacts</targetReference>
        </connector>
        <inputAssignments>
            <field>LVGO__Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LVGO__Enrollment_Communications_Survey_Type__c</field>
            <value>
                <elementReference>Choose_the_survey_you_want_to_send</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LVGO__Enrollment_Marketing_Lead__c</field>
            <value>
                <elementReference>fEnrollment_Marketing_Lead_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LVGO__Recipient_Email__c</field>
            <value>
                <elementReference>ContactEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LVGO__Recipient_Name__c</field>
            <value>
                <elementReference>Please_select_the_contact_you_want_to_send_the_survey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LVGO__Survey_Status_Updated_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LVGO__Survey_Status__c</field>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </inputAssignments>
        <object>LVGO__Enrollment_Communications_Survey__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_COs_and_POs_related_to_the_Account</name>
        <label>Get COs and POs related to the Account</label>
        <locationX>726</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_if_the_account_has_existing_surveys_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LVGO__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vProgramOverviewId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LVGO__Client_Overview__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LVGO__Client_Overview_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </filters>
        <filters>
            <field>LVGO__Client_Overview_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LVGO__Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Enrollment_Survey_Records</name>
        <label>Get Enrollment Survey Records</label>
        <locationX>726</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Program_Overview_Record_Type_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LVGO__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LVGO__Enrollment_Communications_Survey__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Program_Overview_Record_Type_Id</name>
        <label>Get Program Overview Record Type Id</label>
        <locationX>726</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_COs_and_POs_related_to_the_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LVGO__Contract__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Program_Overview</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>vProgramOverviewId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Account_Contacts</name>
        <label>Get Related Account Contacts</label>
        <locationX>726</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Enrollment_Survey_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LVGO__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LVGO__Send_Enrollment_Survey__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LVGO__AccountContactRelation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Account_Record</name>
        <label>Get Related Account Record</label>
        <locationX>726</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Account_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LVGO__Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Account_has_no_related_contracts_0</name>
        <label>Account has no related contracts</label>
        <locationX>1370</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoContracts_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(221, 8, 8);&quot;&gt;No related active Client Overview or Program Overview associated with this Account.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AccountContactSelectionScreen</name>
        <label>AccountContactSelectionScreen</label>
        <locationX>710</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Validate_Contact_Email_Address</targetReference>
        </connector>
        <fields>
            <name>Contracts_Message</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(228, 5, 5);&quot;&gt;Before you send this survey, please make sure that there are appropriate Client Overview and Program Overview[s] associated with this account.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Choose_the_survey_you_want_to_send</name>
            <choiceReferences>pEnrollement_Communications_Survey_Type</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose the survey you want to send</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Please_select_the_contact_you_want_to_send_the_survey</name>
            <choiceReferences>AccountContactRecordChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select the contact you want to send the survey</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Update_Note</name>
            <fieldText>&lt;p&gt;Note: Sending this survey will update the values on Client Overivew[s] and Program Overivews[s] associated with this account.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation_Screen</label>
        <locationX>842</locationX>
        <locationY>1646</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Confirmation_Message</name>
            <fieldText>&lt;p&gt;Thank you!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your Survey has been sent to {!Please_select_the_contact_you_want_to_send_the_survey}({!ContactEmail}).&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Survey Link: &lt;a href=&quot;{!fEnrollment_Communications_Survey_Community_URL}{!vSurveyRecordId}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!fEnrollment_Communications_Survey_Community_URL}{!vSurveyRecordId}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;For more info: &lt;a href=&quot;{!fOrg_Base_Url}/{!vSurveyRecordId}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Click Here&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Email_Error_Message_Screen</name>
        <label>Email Error Message Screen</label>
        <locationX>578</locationX>
        <locationY>1322</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Contact_Email_Error_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(208, 4, 4);&quot;&gt;The selected contact doesn&apos;t have an email associated. Please update the email address before sending the survey.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoAccountContactsScreen</name>
        <label>NoAccountContactsScreen</label>
        <locationX>1106</locationX>
        <locationY>1106</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoAccountContacts</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(237, 4, 4);&quot;&gt;No related Account Contacts with roles Enrollment Marketing POC or Client Implementation Lead / POC or Client Success Lead / POC &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Survey_already_exists_screen_0</name>
        <label>Survey already exists screen</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FinishScreen_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(224, 25, 25);&quot;&gt;This Account already has a Survey associated with it.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Users_Not_Allowed_to_Send_Screen</name>
        <label>Users Not Allowed to Send Screen</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Profile_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(218, 4, 4);&quot;&gt;Only users with profile Client Implementation or Client Success are allowed to send this Survey. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>262</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Validate_current_users_profile</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Hi {!Please_select_the_contact_you_want_to_send_the_survey}

We&apos;re excited to launch TeladocHealth with you. As a next step, we&apos;ll gather the information we need to customize our enrollment outreach for your population. Please use the link below to complete the form:
{!fEnrollment_Communications_Survey_Community_URL}{!vSurveyRecordId}

If you have any questions about this survey, please reach out to your Client Implementation Manager

Thanks!</text>
    </textTemplates>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedContactEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedContactFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vProgramOverviewId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSurveyRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
