manifest/flows/LVGO__Opportunity_Manage_CIM.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_to_Chatter</name>
        <label>Post to Chatter</label>
        <locationX>436</locationX>
        <locationY>688</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Deactivate_Prior_CIM_Account_Team_Records</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!Get_PriorCIM.LVGO__Client_Implementation_Manager__c}] - You have been removed as the CIM from this account.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>inputSourceID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Post_To_Chatter_0</name>
        <label>Post To Chatter</label>
        <locationX>1260</locationX>
        <locationY>276</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Create_new_CIM_Account_Team_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!inputCIM}] - you have been assigned to this account. </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>inputSourceID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Chatter_00</name>
        <label>Post to Chatter</label>
        <locationX>1087</locationX>
        <locationY>157</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Deactivate_Prior_CIM_Account_Team_Records_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!Get_PriorCIM.LVGO__Client_Implementation_Manager__c}] – you have been removed as the CIM from this account.  @[{!inputCIM}] - you have been assigned to this account. Please reach out to the former CIM within 2 days to begin discussions.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>inputSourceID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Current_PO_to_a_collection</name>
        <label>Add Current PO to a collection</label>
        <locationX>2209</locationX>
        <locationY>877</locationY>
        <assignmentItems>
            <assignToReference>POsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_related_POs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_related_POs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection_CO_Null</name>
        <label>Add to Collection CO Null</label>
        <locationX>274</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>COsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentCO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_COs_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CIM_to_the_related_PO</name>
        <label>Assign CIM to the related PO</label>
        <locationX>2203</locationX>
        <locationY>705</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_related_POs.LVGO__CIM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputCIM</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Current_PO_to_a_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_CIM_to_null</name>
        <label>Set CIM to null</label>
        <locationX>262</locationX>
        <locationY>1016</locationY>
        <assignmentItems>
            <assignToReference>CurrentCO.LVGO__CIM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_CO_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_CIM_on_CO</name>
        <label>Update CIM on CO</label>
        <locationX>1483</locationX>
        <locationY>717</locationY>
        <assignmentItems>
            <assignToReference>ClientOverviewRecord.LVGO__CIM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputCIM</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_CO_related_to_the_Opportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_the_Opportunity_has_Contract_Id</name>
        <label>Check if the Opportunity has Contract Id</label>
        <locationX>1571</locationX>
        <locationY>429</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opp_has_Contract_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.LVGO__Contract__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.LVGO__Contract__r.LVGO__Account_Client_Overview__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>inputAccountID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Client_Overviews</targetReference>
            </connector>
            <label>Opp has Contract Id</label>
        </rules>
    </decisions>
    <decisions>
        <name>CIM_is_blank</name>
        <label>CIM is blank?</label>
        <locationX>572</locationX>
        <locationY>481</locationY>
        <defaultConnector>
            <targetReference>Account_CIM_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Blank</defaultConnectorLabel>
        <rules>
            <name>CIM_is_populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputCIM</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PriorCIM</targetReference>
            </connector>
            <label>CIM is populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Get_Client_Overviews_Null</name>
        <label>is Get_Client_Overviews Null?</label>
        <locationX>1607</locationX>
        <locationY>586</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Get_Client_Overviews_is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ClientOverviewRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CIM_on_CO</targetReference>
            </connector>
            <label>Get_Client_Overviews is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_there_a_Prior_CIM</name>
        <label>Was there a Prior CIM?</label>
        <locationX>1070</locationX>
        <locationY>366</locationY>
        <defaultConnector>
            <targetReference>Get_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PriorCIM = Same CIM</defaultConnectorLabel>
        <rules>
            <name>PriorCIM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PriorCIM.LVGO__Client_Implementation_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PriorCIM.LVGO__Client_Implementation_Manager__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>inputCIM</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_to_Chatter_00</targetReference>
            </connector>
            <label>PriorCIM</label>
        </rules>
        <rules>
            <name>NoPriorCIM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PriorCIM.LVGO__Client_Implementation_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_To_Chatter_0</targetReference>
            </connector>
            <label>NoPriorCIM</label>
        </rules>
    </decisions>
    <interviewLabel>Opportunity - Manage CIM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Manage CIM</label>
    <loops>
        <name>Loop_through_related_POs</name>
        <label>Loop through related POs</label>
        <locationX>2003</locationX>
        <locationY>708</locationY>
        <collectionReference>Get_POs_related_to_CO</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_CIM_to_the_related_PO</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Thru_COs_null</name>
        <label>Loop Thru COs Null</label>
        <locationX>442</locationX>
        <locationY>1014</locationY>
        <assignNextValueToReference>CurrentCO</assignNextValueToReference>
        <collectionReference>Look_up_CO</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_CIM_to_null</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_new_CIM_Account_Team_Record</name>
        <label>Create new CIM Account Team Record</label>
        <locationX>1413</locationX>
        <locationY>166</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>inputSourceID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>Client Implementation Manager</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>inputCIM</elementReference>
            </value>
        </inputAssignments>
        <object>AccountTeamMember</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Client_Overviews</name>
        <label>Get Client Overviews</label>
        <locationX>1802</locationX>
        <locationY>477</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_Get_Client_Overviews_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LVGO__Account_Client_Overview__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.LVGO__Contract__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LVGO__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </filters>
        <filters>
            <field>LVGO__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </filters>
        <object>LVGO__Contract__c</object>
        <outputReference>ClientOverviewRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LVGO__CIM__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>1418</locationX>
        <locationY>433</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_the_Opportunity_has_Contract_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputOpportunityID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LVGO__Opportunity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_POs_related_to_CO</name>
        <label>Get POs related to CO</label>
        <locationX>1836</locationX>
        <locationY>718</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_related_POs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LVGO__Client_Overview__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClientOverviewRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LVGO__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </filters>
        <filters>
            <field>LVGO__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LVGO__Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PriorCIM</name>
        <label>Get PriorCIM</label>
        <locationX>790</locationX>
        <locationY>479</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_CIM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LVGO__Account_ID_Long__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputAccountID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LVGO__Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Look_up_CO</name>
        <label>Look up CO</label>
        <locationX>588</locationX>
        <locationY>1014</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Thru_COs_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LVGO__Account_Client_Overview__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>LVGO__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </filters>
        <filters>
            <field>LVGO__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LVGO__Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Account_CIM</name>
        <label>Account CIM</label>
        <locationX>933</locationX>
        <locationY>477</locationY>
        <connector>
            <targetReference>Was_there_a_Prior_CIM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputAccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LVGO__Client_Implementation_Manager__c</field>
            <value>
                <elementReference>inputCIM</elementReference>
            </value>
        </inputAssignments>
        <object>LVGO__Account__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Account_CIM_Null</name>
        <label>Account CIM_Null</label>
        <locationX>584</locationX>
        <locationY>688</locationY>
        <connector>
            <targetReference>Post_to_Chatter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputAccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LVGO__Client_Implementation_Manager__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>LVGO__Account__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Deactivate_Prior_CIM_Account_Team_Records</name>
        <label>Deactivate Prior CIM Account Team Records</label>
        <locationX>586</locationX>
        <locationY>876</locationY>
        <connector>
            <targetReference>Look_up_CO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputSourceID</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client Implementation Manager</stringValue>
            </value>
        </filters>
        <filters>
            <field>UserId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>inputCIM</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>Client Implementation - Archived</stringValue>
            </value>
        </inputAssignments>
        <object>AccountTeamMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Deactivate_Prior_CIM_Account_Team_Records_0</name>
        <label>Deactivate Prior CIM Account Team Records</label>
        <locationX>1233</locationX>
        <locationY>156</locationY>
        <connector>
            <targetReference>Create_new_CIM_Account_Team_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputSourceID</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client Implementation Manager</stringValue>
            </value>
        </filters>
        <filters>
            <field>UserId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>inputCIM</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>Client Implementation - Archived</stringValue>
            </value>
        </inputAssignments>
        <object>AccountTeamMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CO_related_to_the_Opportunity</name>
        <label>Update CO related to the Opportunity</label>
        <locationX>1666</locationX>
        <locationY>716</locationY>
        <connector>
            <targetReference>Get_POs_related_to_CO</targetReference>
        </connector>
        <inputReference>ClientOverviewRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_related_POs</name>
        <label>Update related POs</label>
        <locationX>2024</locationX>
        <locationY>935</locationY>
        <inputReference>POsList</inputReference>
    </recordUpdates>
    <start>
        <locationX>232</locationX>
        <locationY>481</locationY>
        <connector>
            <targetReference>CIM_is_blank</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ClientOverviewRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LVGO__Contract__c</objectType>
    </variables>
    <variables>
        <name>COsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>LVGO__Contract__c</objectType>
    </variables>
    <variables>
        <name>CurrentCO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LVGO__Contract__c</objectType>
    </variables>
    <variables>
        <name>CurrentOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LVGO__OpportunityLineItem__c</objectType>
    </variables>
    <variables>
        <name>CurrentPO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LVGO__Contract__c</objectType>
    </variables>
    <variables>
        <name>inputAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputCIM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputOpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputSourceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>POsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LVGO__Contract__c</objectType>
    </variables>
    <variables>
        <name>POsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>LVGO__Contract__c</objectType>
    </variables>
</Flow>
