manifest/flows/LVGO__Populate_ExpectedLaunchDate_when_Opportunity_is_Closed.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_POs_to_Collection</name>
        <label>Add POs to Collection</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>vPosToBeUpdated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_all_Program_Overviews</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_all_Program_Overviews</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_Program_Overviews</name>
        <label>Assign values to Program Overviews</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Loop_all_Program_Overviews.LVGO__Expected_Launch_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fExpectedCloseDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_POs_to_Collection</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>fExpectedCloseDate</name>
        <dataType>Date</dataType>
        <expression>{!OppCloseDate} + 56</expression>
    </formulas>
    <interviewLabel>Populate ExpectedLaunchDate when Opportunity is Closed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Populate ExpectedLaunchDate when Opportunity is Closed</label>
    <loops>
        <name>Loop_all_Program_Overviews</name>
        <label>Loop all Program Overviews</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>Get_Program_Overview_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_values_to_Program_Overviews</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Program_Overviews</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Program_Overview_Records</name>
        <label>Get Program Overview Records</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_all_Program_Overviews</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LVGO__Client_Overview__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CORecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.lvgo__Program_Schedule_Record_Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>LVGO__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </filters>
        <filters>
            <field>LVGO__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LVGO__Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Program_Overviews</name>
        <label>Update Program Overviews</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <inputReference>vPosToBeUpdated</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Program_Overview_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CORecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OppCloseDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vPosToBeUpdated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LVGO__Contract__c</objectType>
    </variables>
</Flow>
