manifest/flows/New_RFP_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>RFP_Notification_Request_Email_Alert</name>
        <label>RFP Notification Request Email Alert</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <actionName>RFP__c.RFPRequest_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Sales_Rep_Notification_Email_Alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RFP__c.RFPRequest_Notification</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Sales_Rep_Notification_Email_Alert</name>
        <label>Sales Rep Notification Email Alert</label>
        <locationX>176</locationX>
        <locationY>815</locationY>
        <actionName>RFP__c.SalesRep_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Get_RFP_Record_Type_ID</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RFP__c.SalesRep_Notification</nameSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Change the Recordtype to Edit, Assign the sales representative when the RFP record is created</description>
    <environments>Default</environments>
    <interviewLabel>New Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New RFP Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Finding RFP Queue to assign as RFP record owner to be manually changed later by sales representative.</description>
        <name>Find_RFP_Queue</name>
        <label>Find RFP Queue</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Record_Owner_as_RFP_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RFP_Requests_Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RFP_Record_Type_ID</name>
        <label>Get RFP Record Type ID</label>
        <locationX>176</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Record_Type_to_Edit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RFP__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>Edit_Record_Type_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Record_Owner_as_RFP_Queue</name>
        <label>Update Record Owner as RFP Queue</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Update_RFP_Requestor_Custom_Field</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Find_RFP_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updating Record Type to Edit</description>
        <name>Update_Record_Type_to_Edit</name>
        <label>Update Record Type to Edit</label>
        <locationX>176</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Update_Requested_Date</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Edit_Record_Type_Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updating requested date to TODAY when RFP record is created</description>
        <name>Update_Requested_Date</name>
        <label>Update Requested Date</label>
        <locationX>176</locationX>
        <locationY>1175</locationY>
        <inputAssignments>
            <field>Request_Date__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update RFP Requestor field to whoever created the RFP request initially</description>
        <name>Update_RFP_Requestor_Custom_Field</name>
        <label>Update RFP Requestor Custom Field</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>RFP_Notification_Request_Email_Alert</targetReference>
        </connector>
        <inputAssignments>
            <field>RFP_Requester__c</field>
            <value>
                <elementReference>$Record.CreatedBy.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_RFP_Queue</targetReference>
        </connector>
        <object>RFP__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Edit_Record_Type_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
