manifest/flows/Opportunity_Product_After_Update_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_the_three_field_values</name>
        <label>Add the three field values</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>TempVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.L2O_Net_ARR_With_PG_Bookings_Total_USGH__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.L2O_Upfront_Fee_Total_BookingsTotal_USGH__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.L2O_One_time_Total_Bookings_Total_USGH__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_Product_Bookings_Field</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_the_fields_value_got_changed</name>
        <label>Check if the fields value got changed</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.L2O_Net_ARR_With_PG_Bookings_Total_USGH__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.L2O_Net_ARR_With_PG_Bookings_Total_USGH__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.L2O_Upfront_Fee_Total_BookingsTotal_USGH__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.L2O_Upfront_Fee_Total_BookingsTotal_USGH__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.L2O_One_time_Total_Bookings_Total_USGH__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.L2O_One_time_Total_Bookings_Total_USGH__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_the_three_field_values</targetReference>
            </connector>
            <label>If Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity Product After Update Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Product After Update Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_the_Product_Bookings_Field</name>
        <label>Update the Product Bookings Field</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Product_Bookings__c</field>
            <value>
                <elementReference>TempVariable</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_the_fields_value_got_changed</targetReference>
        </connector>
        <object>OpportunityLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TempVariable</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
