manifest/flows/Order_Product_to_Asset_Subscription_Updates.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Assets_Found</name>
        <label>Assets Found</label>
        <locationX>820</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Subscription</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not an Asset</defaultConnectorLabel>
        <rules>
            <name>Yes02</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Asset</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OP_Original_Asset_Data</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contract_Action</name>
        <label>Contract Action</label>
        <locationX>446</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>New_Asset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New or Increase</defaultConnectorLabel>
        <rules>
            <name>Cancel_or_Decrease</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__ContractAction__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quantity Decrease</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__ContractAction__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OP_Update_Asset_Data</targetReference>
            </connector>
            <label>Cancel or Decrease</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Bundled</name>
        <label>Is Bundled</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Parent_Standalone_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Parent or Standalone</defaultConnectorLabel>
        <rules>
            <name>Product_Option</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__RequiredBy__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Option_Fields</targetReference>
            </connector>
            <label>Product Option</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Finalized</name>
        <label>Is Finalized</label>
        <locationX>600</locationX>
        <locationY>1355</locationY>
        <defaultConnector>
            <targetReference>Subscription</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hold_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.L2O_Hold_Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Activated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asset_On_Hold</targetReference>
            </connector>
            <label>Hold Order</label>
        </rules>
        <rules>
            <name>Finalized</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.L2O_Hold_Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Activated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asset_Pending_Shipment</targetReference>
            </connector>
            <label>Finalized</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Grouped</name>
        <label>Is Grouped</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Is_Bundled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Grouped</defaultConnectorLabel>
        <rules>
            <name>Grouped</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__QuoteLine__r.SBQQ__Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_New</targetReference>
            </connector>
            <label>Grouped</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New</name>
        <label>Is New</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Update_fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_Fields</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Shipping_Contact_Updated</name>
        <label>Shipping Contact Updated</label>
        <locationX>446</locationX>
        <locationY>2339</locationY>
        <defaultConnectorLabel>No Change</defaultConnectorLabel>
        <rules>
            <name>Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Shipping_Contact__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Shipping_Contact__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Activated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OP_Shipping_Address</targetReference>
            </connector>
            <label>Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Subscription_Found</name>
        <label>Subscription Found</label>
        <locationX>446</locationX>
        <locationY>1931</locationY>
        <defaultConnector>
            <targetReference>Shipping_Contact_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Contracted</defaultConnectorLabel>
        <rules>
            <name>Is_Subscription</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Subscription</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OP_Subscription</targetReference>
            </connector>
            <label>Is Subscription</label>
        </rules>
    </decisions>
    <description>Updated for data migrated order products without revised order product lookup. 180926</description>
    <environments>Default</environments>
    <formulas>
        <name>AssetStatus</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!New_Asset.Product2.Family}, &quot;Hardware&quot;), &quot;Pending Shipment&quot;, &quot;Ordered&quot;)</expression>
    </formulas>
    <formulas>
        <name>HoldOrderValue</name>
        <dataType>Boolean</dataType>
        <expression>IF(NOT(ISPICKVAL({!$Record.L2O_Service_Platform__c}, &quot;HHS&quot;)), False, {!$Record.SBQQ__QuoteLine__r.SBQQ__Group__r.L2O_Hold_Order__c})</expression>
    </formulas>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>NegativeAssetQuantity</name>
        <dataType>Number</dataType>
        <expression>{!$Record.L2O_Upgraded_Asset__r.Quantity} - ( {!$Record.L2O_Upgraded_Asset__r.Quantity} + {!$Record.L2O_Upgraded_Asset__r.Quantity} )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NOW</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>OPStartDateplus1</name>
        <dataType>Date</dataType>
        <expression>IF({!$Record.ServiceDate} != {!$Record.SBQQ__QuoteLine__r.SBQQ__EffectiveStartDate__c}, {!$Record.SBQQ__QuoteLine__r.SBQQ__EffectiveStartDate__c}, {!$Record.SBQQ__QuoteLine__r.SBQQ__EffectiveStartDate__c})</expression>
    </formulas>
    <formulas>
        <name>OrderStartDateplus1</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Order.EffectiveDate} + 1</expression>
    </formulas>
    <formulas>
        <name>StartDate</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!$Record.SBQQ__SegmentIndex__c}), {!$Record.SBQQ__RequiredBy__r.ServiceDate}, {!$Record.SBQQ__QuoteLine__r.SBQQ__EffectiveStartDate__c})</expression>
    </formulas>
    <formulas>
        <name>VirtualAsset</name>
        <dataType>String</dataType>
        <expression>{!New_Asset.Product2.Name} &amp; &quot; &quot; &amp; &quot;(Virtual)&quot;</expression>
    </formulas>
    <interviewLabel>Order Product to Asset / Subscription Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Product to Asset / Subscription Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Looks up the Asset record that has the same Quote Line Id as the Order Product</description>
        <name>New_Asset</name>
        <label>New Asset</label>
        <locationX>820</locationX>
        <locationY>923</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assets_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__QuoteLine__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__QuoteLine__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Looks up the Subscription record that has the same Quote Line Id as the Order Product</description>
        <name>Subscription</name>
        <label>Subscription</label>
        <locationX>446</locationX>
        <locationY>1823</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Subscription_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__QuoteLine__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__QuoteLine__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Subscription__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Asset_Canceled</name>
        <label>Asset Canceled</label>
        <locationX>72</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Subscription</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__OrderProduct__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__RevisedOrderProduct__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__LatestQuoteLine__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__QuoteLine__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>UsageEndDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>L2O_Revised_Order_Product__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Asset_Contact_and_Address</name>
        <label>Asset Contact and Address</label>
        <locationX>600</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>Is_Finalized</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__QuoteLine__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__QuoteLine__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__OrderProduct__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>$Record.Shipping_Address_Text__City__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Shipping_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CountryCode</field>
            <value>
                <elementReference>$Record.Shipping_Address_Text__CountryCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>$Record.Shipping_Address_Text__PostalCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__OrderProduct__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StateCode</field>
            <value>
                <elementReference>$Record.Shipping_Address_Text__StateCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>$Record.Shipping_Address_Text__Street__s</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Asset_On_Hold</name>
        <label>Asset On Hold</label>
        <locationX>336</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Subscription</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__QuoteLine__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__QuoteLine__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__OrderProduct__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Asset_Pending_Shipment</name>
        <label>Asset Pending Shipment</label>
        <locationX>600</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Subscription</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__QuoteLine__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__QuoteLine__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__OrderProduct__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>AssetStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Asset_Shipping_Address</name>
        <label>Asset Shipping Address</label>
        <locationX>314</locationX>
        <locationY>2555</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__OrderProduct__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>$Record.Shipping_Address_Text__City__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Shipping_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CountryCode</field>
            <value>
                <elementReference>$Record.Shipping_Address_Text__CountryCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>$Record.Shipping_Address_Text__PostalCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StateCode</field>
            <value>
                <elementReference>$Record.Shipping_Address_Text__StateCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>$Record.Shipping_Address_Text__Street__s</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the Quote Line Group, Hold Order, Shipping Account, Shipping Contact, Shipping Address, and Start Date fields on the Order Product</description>
        <name>Insert_Fields</name>
        <label>Insert Fields</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Contract_Action</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>L2O_Hold_Order__c</field>
            <value>
                <elementReference>HoldOrderValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L2O_Parent_Product__c</field>
            <value>
                <elementReference>$Record.SBQQ__RequiredBy__r.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Line_Group__c</field>
            <value>
                <elementReference>$Record.SBQQ__QuoteLine__r.SBQQ__Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ShippingAccount__c</field>
            <value>
                <elementReference>$Record.Quote_Line_Group__r.SBQQ__Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceDate</field>
            <value>
                <elementReference>$Record.SBQQ__QuoteLine__r.SBQQ__EffectiveStartDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address_Text__City__s</field>
            <value>
                <elementReference>$Record.Shipping_Contact__r.MailingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address_Text__CountryCode__s</field>
            <value>
                <elementReference>$Record.Shipping_Contact__r.MailingCountryCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address_Text__PostalCode__s</field>
            <value>
                <elementReference>$Record.Shipping_Contact__r.MailingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address_Text__StateCode__s</field>
            <value>
                <elementReference>$Record.Shipping_Contact__r.MailingStateCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address_Text__Street__s</field>
            <value>
                <elementReference>$Record.Shipping_Contact__r.MailingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Contact__c</field>
            <value>
                <elementReference>$Record.Quote_Line_Group__r.Shipping_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the Contract lookup and Asset lookup fields on the Order Product</description>
        <name>OP_Original_Asset_Data</name>
        <label>OP Original Asset Data</label>
        <locationX>600</locationX>
        <locationY>1139</locationY>
        <connector>
            <targetReference>Asset_Contact_and_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Contracted__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Asset__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>L2O_Upgraded_Asset__c</field>
            <value>
                <elementReference>$Record.SBQQ__RevisedOrderProduct__r.SBQQ__Asset__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Asset__c</field>
            <value>
                <elementReference>New_Asset.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Contract__c</field>
            <value>
                <elementReference>$Record.Order.ContractId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>OP_Shipping_Address</name>
        <label>OP Shipping Address</label>
        <locationX>314</locationX>
        <locationY>2447</locationY>
        <connector>
            <targetReference>Asset_Shipping_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Activated__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Shipping_Address_Text__City__s</field>
            <value>
                <elementReference>$Record.Shipping_Contact__r.MailingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address_Text__CountryCode__s</field>
            <value>
                <elementReference>$Record.Shipping_Contact__r.MailingCountryCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address_Text__PostalCode__s</field>
            <value>
                <elementReference>$Record.Shipping_Contact__r.MailingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address_Text__StateCode__s</field>
            <value>
                <elementReference>$Record.Shipping_Contact__r.MailingStateCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address_Text__Street__s</field>
            <value>
                <elementReference>$Record.Shipping_Contact__r.MailingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Contact__c</field>
            <value>
                <elementReference>$Record.Shipping_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update the Contract lookup, Subscription/Revised Subscription lookup, and Terminated Date fields on the Order Product</description>
        <name>OP_Subscription</name>
        <label>OP Subscription</label>
        <locationX>314</locationX>
        <locationY>2039</locationY>
        <connector>
            <targetReference>Related_Subscription</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>SBQQ__Contracted__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Subscription__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__UpgradedSubscription__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__Contract__c</field>
            <value>
                <elementReference>$Record.Order.ContractId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Subscription__c</field>
            <value>
                <elementReference>Subscription.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__TerminatedDate__c</field>
            <value>
                <elementReference>Subscription.SBQQ__RevisedSubscription__r.SBQQ__TerminatedDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__UpgradedSubscription__c</field>
            <value>
                <elementReference>Subscription.SBQQ__RevisedSubscription__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the Contract lookup and Asset lookup fields on the Order Product</description>
        <name>OP_Update_Asset_Data</name>
        <label>OP Update Asset Data</label>
        <locationX>72</locationX>
        <locationY>923</locationY>
        <connector>
            <targetReference>Asset_Canceled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Contracted__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Asset__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__RevisedOrderProduct__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__Asset__c</field>
            <value>
                <elementReference>$Record.SBQQ__RevisedOrderProduct__r.SBQQ__Asset__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Contract__c</field>
            <value>
                <elementReference>$Record.SBQQ__RevisedOrderProduct__r.SBQQ__Contract__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Option_Fields</name>
        <label>Option Fields</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Contract_Action</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>L2O_Parent_Product__c</field>
            <value>
                <elementReference>$Record.SBQQ__RequiredBy__r.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ShippingAccount__c</field>
            <value>
                <elementReference>$Record.Order.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceDate</field>
            <value>
                <elementReference>StartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address_Text__City__s</field>
            <value>
                <elementReference>$Record.Order.ShippingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address_Text__CountryCode__s</field>
            <value>
                <elementReference>$Record.Order.ShippingCountryCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address_Text__PostalCode__s</field>
            <value>
                <elementReference>$Record.Order.ShippingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address_Text__StateCode__s</field>
            <value>
                <elementReference>$Record.Order.ShippingStateCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address_Text__Street__s</field>
            <value>
                <elementReference>$Record.Order.ShippingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Contact__c</field>
            <value>
                <elementReference>$Record.Order.ShipToContactId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Parent_Standalone_Fields</name>
        <label>Parent / Standalone Fields</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Contract_Action</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__ShippingAccount__c</field>
            <value>
                <elementReference>$Record.Order.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceDate</field>
            <value>
                <elementReference>$Record.SBQQ__QuoteLine__r.SBQQ__EffectiveStartDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address_Text__City__s</field>
            <value>
                <elementReference>$Record.Order.ShippingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address_Text__CountryCode__s</field>
            <value>
                <elementReference>$Record.Order.ShippingCountryCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address_Text__PostalCode__s</field>
            <value>
                <elementReference>$Record.Order.ShippingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address_Text__StateCode__s</field>
            <value>
                <elementReference>$Record.Order.ShippingStateCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address_Text__Street__s</field>
            <value>
                <elementReference>$Record.Order.ShippingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Contact__c</field>
            <value>
                <elementReference>$Record.Order.ShipToContactId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update the Order Product lookup field on the related Subscription record</description>
        <name>Related_Subscription</name>
        <label>Related Subscription</label>
        <locationX>314</locationX>
        <locationY>2147</locationY>
        <connector>
            <targetReference>Shipping_Contact_Updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__QuoteLine__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__QuoteLine__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__OrderProduct__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__OrderProduct__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Subscription__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Quote Line Group, Start Date, and Shipping Address on the Order Product</description>
        <name>Update_fields</name>
        <label>Update fields</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Contract_Action</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Quote_Line_Group__c</field>
            <value>
                <elementReference>$Record.SBQQ__QuoteLine__r.SBQQ__Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceDate</field>
            <value>
                <elementReference>$Record.SBQQ__QuoteLine__r.SBQQ__EffectiveStartDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address_Text__City__s</field>
            <value>
                <elementReference>$Record.Shipping_Contact__r.MailingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address_Text__CountryCode__s</field>
            <value>
                <elementReference>$Record.Shipping_Contact__r.MailingCountryCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address_Text__PostalCode__s</field>
            <value>
                <elementReference>$Record.Shipping_Contact__r.MailingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address_Text__StateCode__s</field>
            <value>
                <elementReference>$Record.Shipping_Contact__r.MailingStateCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address_Text__Street__s</field>
            <value>
                <elementReference>$Record.Shipping_Contact__r.MailingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Grouped</targetReference>
        </connector>
        <object>OrderItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Not_Primary_Asset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
</Flow>
