manifest/flows/Quote_Line_Group_Delivery_Schedule.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>End_Date_Blank1</name>
        <label>End Date Blank</label>
        <locationX>842</locationX>
        <locationY>671</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__EndDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_End_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Finalized_Group</name>
        <label>Finalized Group</label>
        <locationX>842</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>End_Date_Blank1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Delivery_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__StartDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Shipping_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Hold_Order_No_Start_Date</targetReference>
            </connector>
            <label>No Delivery Date</label>
        </rules>
        <rules>
            <name>Delivery_Date_Greater_Than_Quote_Start_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__StartDate__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>DAY14</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Shipping_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Description__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>DefaultGroupDesciption_NoStartDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Holder_Order_Delayed</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Delivery Date Greater Than Quote Start Date</label>
        </rules>
        <rules>
            <name>No_Shipping_Address</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__StartDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__StartDate__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>DAY14</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Shipping_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Description__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>DefaultGroupDesciption_NoStartDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Description__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>DefaultGroupDescription_DelayedStartDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Hold_Order_No_Address</targetReference>
            </connector>
            <label>No Shipping Address</label>
        </rules>
        <rules>
            <name>No_Delivery_Date_AND_No_Shipping_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__StartDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Shipping_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Hold_Order_No_Start_Date_AND_No_Address</targetReference>
            </connector>
            <label>No Delivery Date AND No Shipping Address</label>
        </rules>
        <rules>
            <name>Delivery_Date_Greater_Than_Quote_Start_Date_AND_No_Shipping_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__StartDate__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>DAY14</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Shipping_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Description__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>DefaultDescription_NoStartDateANDNoAddress</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Hold_Order_Delayed_AND_No_Address</targetReference>
            </connector>
            <label>Delivery Date Greater Than Quote Start Date AND No Shipping Address</label>
        </rules>
        <rules>
            <name>Finalized</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__StartDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__StartDate__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>DAY14</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Shipping_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Description__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>DefaultGroupDesciption_NoStartDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Description__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>DefaultGroupDescription_DelayedStartDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Hold_Order_Unchecked</targetReference>
            </connector>
            <label>Finalized</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DAY14</name>
        <dataType>Date</dataType>
        <expression>{!$Record.SBQQ__Quote__r.SBQQ__StartDate__c} + 14</expression>
    </formulas>
    <formulas>
        <name>DefaultDescription_DelayedDeliveryANDNoShippingAddress</name>
        <dataType>String</dataType>
        <expression>&quot;The Delivery Date for the products in this Group is greater than 14 days from the Quote Start Date&quot; &amp;
BR() &amp;
&quot;The Shipping Contact and Address for the products in this Group is unknown&quot;</expression>
    </formulas>
    <formulas>
        <name>DefaultDescription_NoStartDateANDNoAddress</name>
        <dataType>String</dataType>
        <expression>&quot;The Delivery Date for the products in this Group has not been finalized and defaulted to:&quot; &amp; &quot; &quot; &amp; 
TEXT(MONTH( {!DefaultStartDate} )) &amp; &quot;/&quot; &amp; TEXT(DAY( {!DefaultStartDate} )) &amp; &quot;/&quot; &amp; TEXT(YEAR( {!DefaultStartDate} )) &amp;
BR() &amp;
&quot;The Shipping Contact and Address for the products in this Group is unknown&quot;</expression>
    </formulas>
    <formulas>
        <name>DefaultGroupDesciption_NoStartDate</name>
        <dataType>String</dataType>
        <expression>&quot;The Delivery Date for the products in this Group has not been finalized and defaulted to:&quot; &amp; &quot; &quot; &amp; 
TEXT(MONTH( {!DefaultStartDate} )) &amp; &quot;/&quot; &amp; TEXT(DAY( {!DefaultStartDate} )) &amp; &quot;/&quot; &amp; TEXT(YEAR( {!DefaultStartDate} ))</expression>
    </formulas>
    <formulas>
        <name>DefaultGroupDescription_DelayedStartDate</name>
        <dataType>String</dataType>
        <expression>&quot;The Delivery Date for the products in this Group is greater than 14 days from the Quote Start Date&quot;</expression>
    </formulas>
    <formulas>
        <name>DefaultGroupDescription_NoAddress</name>
        <dataType>String</dataType>
        <expression>&quot;The Shipping Contact and Address for the products in this Group is unknown&quot;</expression>
    </formulas>
    <formulas>
        <name>DefaultGroupName_DelayedDelivery</name>
        <dataType>String</dataType>
        <expression>&quot;Delayed Delivery&quot;</expression>
    </formulas>
    <formulas>
        <name>DefaultGroupName_NonFinalized</name>
        <dataType>String</dataType>
        <expression>&quot;Non-Finalized Delivery Schedule&quot;</expression>
    </formulas>
    <formulas>
        <name>DefaultStartDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 90</expression>
    </formulas>
    <formulas>
        <name>DefaultSubscriptionTerm</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!$Record.SBQQ__SubscriptionTerm__c}), {!$Record.SBQQ__Quote__r.SBQQ__SubscriptionTerm__c}, {!$Record.SBQQ__SubscriptionTerm__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>UpdateEndDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS( {!$Record.SBQQ__StartDate__c} - 1, {!$Record.SBQQ__SubscriptionTerm__c})</expression>
    </formulas>
    <interviewLabel>Quote Line Group Delivery Schedule {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote Line Group Delivery Schedule</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Hold_Order_Delayed_AND_No_Address</name>
        <label>Hold Order Delayed AND No Address</label>
        <locationX>1106</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>End_Date_Blank1</targetReference>
        </connector>
        <inputAssignments>
            <field>L2O_Hold_Order__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>DefaultGroupName_NonFinalized</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Description__c</field>
            <value>
                <elementReference>DefaultDescription_DelayedDeliveryANDNoShippingAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__SubscriptionTerm__c</field>
            <value>
                <elementReference>DefaultSubscriptionTerm</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Hold_Order_No_Address</name>
        <label>Hold Order No Address</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>End_Date_Blank1</targetReference>
        </connector>
        <inputAssignments>
            <field>L2O_Hold_Order__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>DefaultGroupName_NonFinalized</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Description__c</field>
            <value>
                <elementReference>DefaultGroupDescription_NoAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__SubscriptionTerm__c</field>
            <value>
                <elementReference>DefaultSubscriptionTerm</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Hold_Order_No_Start_Date</name>
        <label>Hold Order No Start Date</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>End_Date_Blank1</targetReference>
        </connector>
        <inputAssignments>
            <field>L2O_Hold_Order__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>DefaultGroupName_NonFinalized</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Description__c</field>
            <value>
                <elementReference>DefaultGroupDesciption_NoStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__StartDate__c</field>
            <value>
                <elementReference>DefaultStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__SubscriptionTerm__c</field>
            <value>
                <elementReference>DefaultSubscriptionTerm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address_Text__City__s</field>
            <value>
                <elementReference>$Record.Shipping_Contact__r.MailingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address_Text__CountryCode__s</field>
            <value>
                <elementReference>$Record.Shipping_Contact__r.MailingCountryCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address_Text__PostalCode__s</field>
            <value>
                <elementReference>$Record.Shipping_Contact__r.MailingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address_Text__StateCode__s</field>
            <value>
                <elementReference>$Record.Shipping_Contact__r.MailingStateCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address_Text__Street__s</field>
            <value>
                <elementReference>$Record.Shipping_Contact__r.MailingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Hold_Order_No_Start_Date_AND_No_Address</name>
        <label>Hold Order No Start Date AND No Address</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>End_Date_Blank1</targetReference>
        </connector>
        <inputAssignments>
            <field>L2O_Hold_Order__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>DefaultGroupName_NonFinalized</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Description__c</field>
            <value>
                <elementReference>DefaultDescription_NoStartDateANDNoAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__StartDate__c</field>
            <value>
                <elementReference>DefaultStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__SubscriptionTerm__c</field>
            <value>
                <elementReference>DefaultSubscriptionTerm</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Hold_Order_Unchecked</name>
        <label>Hold Order Unchecked</label>
        <locationX>1370</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>End_Date_Blank1</targetReference>
        </connector>
        <inputAssignments>
            <field>L2O_Hold_Order__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__SubscriptionTerm__c</field>
            <value>
                <elementReference>DefaultSubscriptionTerm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address_Text__City__s</field>
            <value>
                <elementReference>$Record.Shipping_Contact__r.MailingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address_Text__CountryCode__s</field>
            <value>
                <elementReference>$Record.Shipping_Contact__r.MailingCountryCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address_Text__PostalCode__s</field>
            <value>
                <elementReference>$Record.Shipping_Contact__r.MailingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address_Text__StateCode__s</field>
            <value>
                <elementReference>$Record.Shipping_Contact__r.MailingStateCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address_Text__Street__s</field>
            <value>
                <elementReference>$Record.Shipping_Contact__r.MailingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Holder_Order_Delayed</name>
        <label>Holder Order Delayed</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>End_Date_Blank1</targetReference>
        </connector>
        <inputAssignments>
            <field>L2O_Hold_Order__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>DefaultGroupName_DelayedDelivery</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Description__c</field>
            <value>
                <elementReference>DefaultGroupDescription_DelayedStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__SubscriptionTerm__c</field>
            <value>
                <elementReference>DefaultSubscriptionTerm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address_Text__City__s</field>
            <value>
                <elementReference>$Record.Shipping_Contact__r.MailingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address_Text__CountryCode__s</field>
            <value>
                <elementReference>$Record.Shipping_Contact__r.MailingCountryCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address_Text__PostalCode__s</field>
            <value>
                <elementReference>$Record.Shipping_Contact__r.MailingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address_Text__StateCode__s</field>
            <value>
                <elementReference>$Record.Shipping_Contact__r.MailingStateCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address_Text__Street__s</field>
            <value>
                <elementReference>$Record.Shipping_Contact__r.MailingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_End_Date</name>
        <label>Update End Date</label>
        <locationX>710</locationX>
        <locationY>791</locationY>
        <inputAssignments>
            <field>SBQQ__EndDate__c</field>
            <value>
                <elementReference>UpdateEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Finalized_Group</targetReference>
        </connector>
        <object>SBQQ__QuoteLineGroup__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
