manifest/flows/Run_Static_Code_Analysis_on_User_Story.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Alert_Developer</name>
        <label>Alert Developer</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <actionName>CommitCreatorAlertAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>createdById</name>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userStoryName</name>
            <value>
                <elementReference>Get_Associated_User_Story.Name</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CommitCreatorAlertAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>Run Static Code Analysis</description>
        <name>Run_Static_Code_Analysis</name>
        <label>Run Static Code Analysis</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <actionName>copado__RunUserStoryStaticCodeAnalysis</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Alert_Developer</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orgId</name>
            <value>
                <elementReference>Get_Associated_Env.copado__Org_ID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>storyId</name>
            <value>
                <elementReference>$Record.copado__User_Story__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>copado__RunUserStoryStaticCodeAnalysis</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_for_Apex_Class</name>
        <label>Check for Apex Class</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Apex</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Associated_User_Story.copado__Has_Apex_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Associated_Env</targetReference>
            </connector>
            <label>Has Apex?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Run Static Code Analysis on User Story {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Run Static Code Analysis on User Story</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Associated_Env</name>
        <label>Get Associated Env</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Run_Static_Code_Analysis</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Associated_User_Story.copado__Environment__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__Environment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Associated_User_Story</name>
        <label>Get Associated User Story</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Apex_Class</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__User_Story__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__User_Story__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Associated_User_Story</targetReference>
        </connector>
        <object>copado__User_Story_Commit__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>orgId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
