manifest/flows/Submit_Contract_Request.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_to_Contract_Ops_Team</name>
        <label>Send Email to Contract Ops Team</label>
        <locationX>578</locationX>
        <locationY>1163</locationY>
        <actionName>Apttus__APTS_Agreement__c.Contract_request_submission_notification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Apttus__APTS_Agreement__c.Contract_request_submission_notification</nameSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Validating_the_Record_Types</name>
        <label>Validating the Record Types</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Update_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Employer_Services_Agreement_Self_Service_PDF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.APTS_Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Employer_Service_Agreement_Self_Service_PDF</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Emp_Services_Self_Service_PDF_Record</targetReference>
            </connector>
            <label>Employer Services Agreement Self Service PDF</label>
        </rules>
        <rules>
            <name>Non_Disclosure_Agreement_Self_Service_PDF_type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.APTS_Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Non_Disclosure_Agreement_Self_Service_PDF</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_NDA_Self_Service_Record</targetReference>
            </connector>
            <label>Non Disclosure Agreement Self Service PDF</label>
        </rules>
        <rules>
            <name>When_Approval_is_rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Apttus_Approval__Approval_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Apttus_Approval__Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_on_Owner_on_Rejection</targetReference>
            </connector>
            <label>When Approval is rejected</label>
        </rules>
        <rules>
            <name>When_Approval_Request_is_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Apttus_Approval__Approval_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Apttus_Approval__Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Owner_on_Approval</targetReference>
            </connector>
            <label>When Approval Request is Approved</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Submit Contract Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Submit Contract Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contract_Management_Queue_Id</name>
        <label>Get Contract Management Queue Id</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validating_the_Record_Types</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract_Management</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contract_Ops_Queue_Id</name>
        <label>Get Contract Ops Queue Id</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contract_Management_Queue_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract_Ops</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Emp_Services_agreement_Recordtype_Id</name>
        <label>Get Emp Services agreement Recordtype Id</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_NDA_Recordtype_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Apttus__APTS_Agreement__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Employer_Services_Agreement</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>EmpServicesRecordtypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_NDA_Recordtype_Id</name>
        <label>Get NDA Recordtype Id</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contract_Ops_Queue_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Apttus__APTS_Agreement__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Non_Disclosure_Agreement</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>NDA_RecordtypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Emp_Services_Self_Service_PDF_Record</name>
        <label>Update Emp Services Self Service PDF Record</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Send_Email_to_Contract_Ops_Team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contract_Management_Queue_Id.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Apttus__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted Request</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>APTS_Agreement_Type__c</field>
            <value>
                <stringValue>Employer Services Agreement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apttus__Request_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>EmpServicesRecordtypeId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NDA_Self_Service_Record</name>
        <label>Update NDA Self Service Record</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Send_Email_to_Contract_Ops_Team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contract_Management_Queue_Id.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Apttus__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted Request</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>APTS_Agreement_Type__c</field>
            <value>
                <stringValue>Non Disclosure Agreement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apttus__Request_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>NDA_RecordtypeId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_on_Owner_on_Rejection</name>
        <label>Update on Owner on Rejection</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Contract_Ops_Queue_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner_on_Approval</name>
        <label>Update Owner on Approval</label>
        <locationX>842</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Contract_Ops_Queue_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>1106</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Send_Email_to_Contract_Ops_Team</targetReference>
        </connector>
        <filterLogic>(1 Or 3) AND 2</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contract_Ops_Queue_Id.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Apttus__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted Request</stringValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contract_Management_Queue_Id.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Apttus__Request_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Emp_Services_agreement_Recordtype_Id</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (3 AND (4 OR 5))</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted Request</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus_Approval__Approval_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Apttus_Approval__Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus_Approval__Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <object>Apttus__APTS_Agreement__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Employer_Service_Agreement_Self_Service_PDF</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Employer Service Agreement - Self Service PDF</stringValue>
        </value>
    </variables>
    <variables>
        <name>Employer_Services_Agreement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Employer_Services_Agreement</stringValue>
        </value>
    </variables>
    <variables>
        <name>EmpServicesRecordtypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NDA_RecordtypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Non_Disclosure_Agreement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Non_Disclosure_Agreement</stringValue>
        </value>
    </variables>
    <variables>
        <name>Non_Disclosure_Agreement_Self_Service_PDF</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Non Disclosure Agreement - Self Service PDF</stringValue>
        </value>
    </variables>
</Flow>
