manifest/flows/Update_Disable_Teletherapy_on_MYSTR3_from_Parent_Product.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Parent_Disable_Teletherapy</name>
        <label>Check Parent Disable Teletherapy</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>YES</defaultConnectorLabel>
        <rules>
            <name>NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Parent_Disable_Teletherapy</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Disable_Teletherapy</targetReference>
            </connector>
            <label>NO</label>
        </rules>
    </decisions>
    <formulas>
        <name>Parent_Disable_Teletherapy</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.SBQQ__RequiredBy__r.Disable_Teletherapy__c})</expression>
    </formulas>
    <interviewLabel>Update Disable Teletherapy from Parent Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Disable Teletherapy on MYSTR3 from Parent Product</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Disable_Teletherapy</name>
        <label>Update Disable Teletherapy</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Disable_Teletherapy__c</field>
            <value>
                <elementReference>Parent_Disable_Teletherapy</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Parent_Disable_Teletherapy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Product_Code__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__ProductCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MYSTR3</stringValue>
            </value>
        </filters>
        <object>SBQQ__QuoteLine__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
