manifest/flows/Update_Amendment_Opportunity_Contract_Path_on_Contract.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Updating_Contract_Path_Info_on_Contract</name>
        <label>Updating Contract Path Info on Contract</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Get_Contract_Record.L2O_Contracting_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.L2O_Contracting_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contract_Record.L2O_Contract_Path__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.L2O_Contract_Path__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contract_Record.L2O_Contract_Path_Sub_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.L2O_Contract_Path_Sub_type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contract_Record.L2O_Pricing_Model__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.L2O_Pricing_Model__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contract_Record.L2O_Client_Line_of_Business__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.L2O_Client_Line_of_Business__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contract_Record.L2O_DirectTDHContract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.L2O_DirectTDHContract__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contract_Record.L2O_DirectEmployerBusiness__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.L2O_DirectEmployerBusiness__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contract_Record.SBQQ__AmendmentPricebookId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contract_Record.SBQQ__RenewalPricebookId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contract_Record.L2O_Channel_Segment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.L2O_Channel_Segment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contract_Record.L2O_Sub_Channel_Segment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.L2O_Sub_Channel_Segment__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contract_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Updating_Contract_Path_Info_on_Renewal_Opportunity</name>
        <label>Updating Contract Path Info on Renewal Opportunity</label>
        <locationX>446</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>Get_Renewal_Opportunity.L2O_Contracting_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract_Record.L2O_Contracting_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Renewal_Opportunity.L2O_Contract_Path__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract_Record.L2O_Contract_Path__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Renewal_Opportunity.L2O_Pricing_Model__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract_Record.L2O_Pricing_Model__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Renewal_Opportunity.L2O_Client_Line_of_Business__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract_Record.L2O_Client_Line_of_Business__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Renewal_Opportunity.L2O_DirectTDHContract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract_Record.L2O_DirectTDHContract__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Renewal_Opportunity.L2O_DirectEmployerBusiness__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract_Record.L2O_DirectEmployerBusiness__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Renewal_Opportunity.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract_Record.SBQQ__RenewalPricebookId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Renewal_Opportunity.L2O_Contract_Path_Sub_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract_Record.L2O_Contract_Path_Sub_type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Renewal_Opportunity.L2O_Channel_Segment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract_Record.L2O_Channel_Segment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Renewal_Opportunity.L2O_Sub_Channel_Segment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract_Record.L2O_Sub_Channel_Segment__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Renewal_Opportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Opportunity_Products</name>
        <label>Check for Opportunity Products</label>
        <locationX>446</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Updating_Contract_Path_Info_on_Renewal_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Empty</defaultConnectorLabel>
        <rules>
            <name>NotEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Opportunity_Products</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Related_Opportunity_Product</targetReference>
            </connector>
            <label>NotEmpty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_if_the_Record_is_Created_or_Updated</name>
        <label>Checking if the Record is Created or Updated</label>
        <locationX>402</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordCreatedOrUpdatedCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Amended_Opportunity</targetReference>
            </connector>
            <label>If Created</label>
        </rules>
        <rules>
            <name>If_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordCreatedOrUpdatedCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updating_Contract_Path_Info_on_Contract</targetReference>
            </connector>
            <label>If Updated</label>
        </rules>
    </decisions>
    <description>Delete Opportunity Product and Update Renewal Opportunity Pricebook Id</description>
    <environments>Default</environments>
    <formulas>
        <name>RecordCreatedOrUpdatedCheck</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Update Amendment Opportunity Contract Path on Contract {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Amendment Opportunity Contract Path on Contract</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Related_Opportunity_Product</name>
        <label>Delete Related Opportunity Product</label>
        <locationX>314</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>Updating_Contract_Path_Info_on_Renewal_Opportunity</targetReference>
        </connector>
        <inputReference>Get_Related_Opportunity_Products</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Contract_Record</name>
        <label>Get Contract Record</label>
        <locationX>402</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checking_if_the_Record_is_Created_or_Updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__AmendedContract__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Opportunity_Products</name>
        <label>Get Related Opportunity Products</label>
        <locationX>446</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Opportunity_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Renewal_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Renewal_Opportunity</name>
        <label>Get Renewal Opportunity</label>
        <locationX>446</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Opportunity_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contract_Record.SBQQ__RenewalOpportunity__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Amended_Opportunity</name>
        <label>Update Amended Opportunity</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>L2O_Client_Line_of_Business__c</field>
            <value>
                <elementReference>Get_Contract_Record.L2O_Client_Line_of_Business__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L2O_Contract_Path_Sub_type__c</field>
            <value>
                <elementReference>Get_Contract_Record.L2O_Contract_Path_Sub_type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L2O_Contract_Path__c</field>
            <value>
                <elementReference>Get_Contract_Record.L2O_Contract_Path__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L2O_Contracting_Account__c</field>
            <value>
                <elementReference>Get_Contract_Record.L2O_Contracting_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L2O_DirectEmployerBusiness__c</field>
            <value>
                <elementReference>Get_Contract_Record.L2O_DirectEmployerBusiness__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L2O_DirectTDHContract__c</field>
            <value>
                <elementReference>Get_Contract_Record.L2O_DirectTDHContract__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L2O_Pricing_Model__c</field>
            <value>
                <elementReference>Get_Contract_Record.L2O_Pricing_Model__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contract_Record</name>
        <label>Update Contract Record</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Get_Renewal_Opportunity</targetReference>
        </connector>
        <inputReference>Get_Contract_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Renewal_Opportunity</name>
        <label>Update Renewal Opportunity</label>
        <locationX>446</locationX>
        <locationY>1379</locationY>
        <inputReference>Get_Renewal_Opportunity</inputReference>
    </recordUpdates>
    <start>
        <locationX>276</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contract_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>L2O_Subtype__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract Path Change</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
