flows/Edit_RFP_Status_Change_When_Not_Assigned_to_the_Queue.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_RFP_Owner_Change_Email_Alert</name>
        <label>Notify RFP Owner Change Email Alert</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <actionName>RFP__c.Notify_RFP_Owner_Change</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Response_Status_Update</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RFP__c.Notify_RFP_Owner_Change</nameSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>RFPRequestsQueue</name>
        <dataType>String</dataType>
    </constants>
    <environments>Default</environments>
    <interviewLabel>Edit RFP Status Change When Not Assigned to the Queue {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Edit RFP Status Change When Not Assigned to the Queue</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Update Response Status to &quot;In Progress&quot;</description>
        <name>Response_Status_Update</name>
        <label>Response Status Update</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Response_Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Notify_RFP_Owner_Change_Email_Alert</targetReference>
        </connector>
        <filterFormula>ISCHANGED({!$Record.OwnerId})&amp;&amp;{!$Record.Owner:Queue.DeveloperName}&lt;&gt;&quot;RFP_Requests_Queue&quot;</filterFormula>
        <object>RFP__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
