flows/L2O_Update_Contract.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>UpdateOpporutnityLessorField</name>
        <label>UpdateOpporutnityLessorField</label>
        <locationX>650</locationX>
        <locationY>743</locationY>
        <assignmentItems>
            <assignToReference>OpportunityRecordId.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdateRenewal_AmendOpporunities.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpporutnityIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityRecordId.L2O_Lessor_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.L2O_Lessor_Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRenewal_AmendOpporunities</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Activated_Contract</name>
        <label>Activated Contract?</label>
        <locationX>584</locationX>
        <locationY>1415</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__RenewalForecast__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Previous_Master_Contract</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Lessor_Field_is_Updated</name>
        <label>Check Lessor Field is Updated</label>
        <locationX>738</locationX>
        <locationY>394</locationY>
        <defaultConnector>
            <targetReference>Check_Record_Triggered_Event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lessor_Field_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.L2O_Lessor_Account__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOpportunityRecords</targetReference>
            </connector>
            <label>Lessor Field Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_Triggered_Event</name>
        <label>Check Record Triggered Event</label>
        <locationX>876</locationX>
        <locationY>1134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTriggerEvent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_Quote_Fields</targetReference>
            </connector>
            <label>New</label>
        </rules>
        <rules>
            <name>Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTriggerEvent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Update</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Activated_Contract</targetReference>
            </connector>
            <label>Update</label>
        </rules>
    </decisions>
    <decisions>
        <description>If there is an existing Master Contract on Account then compare the contract with the current one and keep the Contract with the earliest Contract End Date as the Master Contract.</description>
        <name>Valid_Existing_Master_Contract_on_Account</name>
        <label>Valid Existing Master Contract on Account?</label>
        <locationX>904</locationX>
        <locationY>1596</locationY>
        <defaultConnector>
            <targetReference>Update_Current_Contract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MasterContractExists_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Previous_Master_Contract</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Previous_Master_Contract.EndDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.EndDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Previous_Master_Contract.SBQQ__MasterContract__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Uncheck_Master_on_Existing_Contract</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>To update the Contract with default values &amp; Auto create Renewal Opp on Activated Contract. Without the default updates on Contract. New update master contract. New update Lessor Account.</description>
    <environments>Default</environments>
    <formulas>
        <name>RecordTriggerEvent</name>
        <dataType>String</dataType>
        <expression>IF( ISNEW() , &apos;New&apos; , &apos;Update&apos;)</expression>
    </formulas>
    <interviewLabel>Update Contract {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Contract</label>
    <loops>
        <name>UpdateRenewal_AmendOpporunities</name>
        <label>UpdateRenewal/AmendOpporunities</label>
        <locationX>452</locationX>
        <locationY>623</locationY>
        <collectionReference>GetOpportunityRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UpdateOpporutnityLessorField</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateOpportunities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>To get the default values from the Original Opp onto the Contract.</description>
        <name>Get_Oppty_Fields</name>
        <label>Get Oppty Fields</label>
        <locationX>221</locationX>
        <locationY>1328</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Contract_Default_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Fetch other Master Contract present on that Account</description>
        <name>Get_Previous_Master_Contract</name>
        <label>Get Previous Master Contract</label>
        <locationX>912</locationX>
        <locationY>1408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Valid_Existing_Master_Contract_on_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__MasterContract__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>To get the Quote Fields</description>
        <name>Get_Quote_Fields</name>
        <label>Get Quote Fields</label>
        <locationX>221</locationX>
        <locationY>1186</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Oppty_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOpportunityRecords</name>
        <label>GetOpportunityRecords</label>
        <locationX>452</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateRenewal_AmendOpporunities</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>SBQQ__AmendedContract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__RenewedContract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>To uncheck the master contract checkbox on existing contract.</description>
        <name>Uncheck_Master_on_Existing_Contract</name>
        <label>Uncheck Master on Existing Contract</label>
        <locationX>1161</locationX>
        <locationY>1600</locationY>
        <connector>
            <targetReference>Update_New_Master_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Previous_Master_Contract.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__MasterContract__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <description>To update Contract default fields upon creation.</description>
        <name>Update_Contract_Default_Fields</name>
        <label>Update Contract Default Fields</label>
        <locationX>221</locationX>
        <locationY>1472</locationY>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>Get_Quote_Fields.SBQQ__BillingCity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>Get_Quote_Fields.SBQQ__BillingCountry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>Get_Quote_Fields.SBQQ__BillingPostalCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>Get_Quote_Fields.SBQQ__BillingState__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>Get_Quote_Fields.SBQQ__BillingStreet__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L2O_Channel_Segment__c</field>
            <value>
                <elementReference>Get_Oppty_Fields.L2O_Channel_Segment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L2O_Client_Line_of_Business__c</field>
            <value>
                <elementReference>Get_Oppty_Fields.L2O_Client_Line_of_Business__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L2O_Contract_Path_Sub_type__c</field>
            <value>
                <elementReference>Get_Oppty_Fields.L2O_Contract_Path_Sub_type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L2O_Contract_Path__c</field>
            <value>
                <elementReference>Get_Oppty_Fields.L2O_Contract_Path__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L2O_Contracting_Account__c</field>
            <value>
                <elementReference>Get_Oppty_Fields.L2O_Contracting_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L2O_DirectEmployerBusiness__c</field>
            <value>
                <elementReference>Get_Oppty_Fields.L2O_DirectEmployerBusiness__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L2O_DirectTDHContract__c</field>
            <value>
                <elementReference>Get_Oppty_Fields.L2O_DirectTDHContract__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L2O_Lessor_Account__c</field>
            <value>
                <elementReference>Get_Oppty_Fields.L2O_Lessor_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L2O_Pricing_Model__c</field>
            <value>
                <elementReference>Get_Oppty_Fields.L2O_Pricing_Model__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L2O_Prior_ARR_value__c</field>
            <value>
                <elementReference>Get_Oppty_Fields.L2O_ARR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L2O_Prior_Bookings_Total_Value__c</field>
            <value>
                <elementReference>Get_Oppty_Fields.L2O_Bookings_Total__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L2O_Prior_Est_First_Year_Revenue__c</field>
            <value>
                <elementReference>Get_Oppty_Fields.L2O_Est_First_Year_Revenue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L2O_Prior_Est_In_Year_Revenue__c</field>
            <value>
                <elementReference>Get_Oppty_Fields.L2O_Est_In_Year_Revenue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L2O_Prior_Est_One_Time_Revenue__c</field>
            <value>
                <elementReference>Get_Oppty_Fields.L2O_Est_One_Time_Revenue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L2O_Prior_Net_ARR__c</field>
            <value>
                <elementReference>Get_Oppty_Fields.L2O_Net_ARR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L2O_Prior_Net_ARR_w_PG__c</field>
            <value>
                <elementReference>Get_Oppty_Fields.L2O_Net_ARR_w_PG__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L2O_Prior_TCV_Value__c</field>
            <value>
                <elementReference>Get_Oppty_Fields.L2O_TCV__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L2O_Sub_Channel_Segment__c</field>
            <value>
                <elementReference>Get_Oppty_Fields.L2O_Sub_Channel_Segment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Quote_Fields.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__AmendmentOpportunityStage__c</field>
            <value>
                <stringValue>Discovery</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__AmendmentPricebookId__c</field>
            <value>
                <elementReference>Get_Quote_Fields.SBQQ__PriceBook__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__RenewalOpportunityStage__c</field>
            <value>
                <stringValue>Discovery</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__RenewalPricebookId__c</field>
            <value>
                <elementReference>Get_Quote_Fields.SBQQ__PriceBook__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>Get_Quote_Fields.SBQQ__ShippingCity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>Get_Quote_Fields.SBQQ__ShippingCountry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>Get_Quote_Fields.SBQQ__ShippingPostalCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>Get_Quote_Fields.SBQQ__ShippingState__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>Get_Quote_Fields.SBQQ__ShippingStreet__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Current_Contract</name>
        <label>Update Current Contract</label>
        <locationX>682</locationX>
        <locationY>1598</locationY>
        <inputAssignments>
            <field>SBQQ__RenewalForecast__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_New_Master_Contract</name>
        <label>Update New Master Contract</label>
        <locationX>1161</locationX>
        <locationY>1751</locationY>
        <inputAssignments>
            <field>SBQQ__MasterContract__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__RenewalForecast__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOpportunities</name>
        <label>UpdateOpportunities</label>
        <locationX>452</locationX>
        <locationY>959</locationY>
        <connector>
            <targetReference>Check_Record_Triggered_Event</targetReference>
        </connector>
        <inputReference>OpporutnityIds</inputReference>
    </recordUpdates>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_Lessor_Field_is_Updated</targetReference>
        </connector>
        <object>Contract</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>OpportunityRecordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpporutnityIds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
